<footer>
  <section id="about">
    <h2>ABOUT US</h2>
    <p>Simplify education with <b>my school.</b></p>
    <p><b>Anywhere Access:</b> view your child's results from anywhere in the world</p>
    <p><b> We keep data secure and the interface easy and user friendly</b></p>
    <p><b>Always Improving:</b> We grow with technology for a better experience.</p>
  </section>
    <section id="contact">
      <h2>CONTACT US</h2>
      <form>
          <input type="text" id="userName" name="name"  placeholder="Name" required/>
          <input type="text" id="school" name="school"  placeholder="School" required/ >
         </label><input type="email" id="email" name="email"  placeholder="email" required/>
          <textarea id="message" name="message"  placeholder="Enter your message" ></textarea>
          <button>Submit</button>
      </form>

    </section>
  
    <section id="copy">
      <h2>COPY RIGHT</h2>
      <p>Copyright © My School Simplify all right reserved</p>
    </section>
  </footer>