<footer>
    <section id="contact">
      <h2>Contact Us</h2>
      <form>
        <fieldset>
          <p><label for="name">Name:</label>
          <input type="text" id="name" name="name"></p>
          <p><label for="school">School:</label>
          <input type="text" id="name" name="name"></p>
          <p> <label for="email">Email:</label>
          <input type="email" id="email" name="email"></p>
          <label for="message">Message:</label>
          <p><textarea id="message" name="message" style="width:260px;" ></textarea></p>
          <button style="width:260px;">Submit</button>
        </fieldset>
      </form>
      
    </section>
    <section id="about">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet suscipit congue, ipsum urna suscipit augue, a convallis risus est a ante. Sed euismod, elit id mollis malesuada, velit velit tempor velit, vel viverra ipsum velit id magna. </p>
      <button>Read more</button>
    </section>
    <p>Copyright © My School Simplify </p>
  </footer>