<footer>
  <section id="about">
    <h2>ABOUT US</h2>
    <p>Simplify education with my school.</p>
    <p> Anywhere Access: view your child's results from anywhere in the world</p>
    <p> We keep data secure and the interface easy and user friendly</p>
    <p>Always Improving: We grow with technology for a better experience.</p>
  </section>
    <section id="contact">
      <h2>CONTACT US</h2>
      <form>
        <fieldset>
          <input type="text" id="name" name="name"  placeholder="Name" required/>
          <input type="text" id="name" name="name"  placeholder="School" required/ >
         </label><input type="email" id="email" name="email"  placeholder="email" required/>
          <textarea id="message" name="message"  placeholder="Enter your message" ></textarea>
          <button>Submit</button>
        </fieldset>
      </form>
      <hr/>
    </section>
  
    <section id="copy">
      <h2>COPY RIGHT</h2>
      <p>Copyright © My School Simplify all right reserved</p>
    </section>
  </footer>