<footer>
  <div class="footer">
      <section id="about">
        <h2>About Us</h2>
        <p>
        <h3>My School Result</h3>
        Discover the power of efficiency and Simplicity with our school result online management/checker system. 
        Swiftly access and navigate through academic accomplishments. 
        Empowering students, parents, and educators for a brighter educational journey.
        </p>
      </section>
        
      
        <section id="copy">
          <h2>Address</h2>
          <p>Head Office: 184, Second East Circular Rd, Benin City, Edo state </p>
          <p>Branch Office: 17, Virgina Street Off Second East Circular Rd, Benin City, Edo state </p>
        
        </section>

        <section id="contact">
          <h2>Contact Us</h2>
          <form>
              <input type="text" id="userName" name="name"  placeholder="Name" required/><br/>
              <input type="text" id="school" name="school"  placeholder="School" required/><br/>
              <input type="text" id="address" name="address"  placeholder="address" required/><br/>
              <input type="number" id="number" name="nmber"  placeholder="Phone number" required/><br/>
              <textarea id="message" name="message"  placeholder="Enter your message" ></textarea><br/>
              <button>Submit</button><br/>
          </form>

        </section>
    </div>
    <p style="background:#13022F; color:white; text-align:center">website built by Cristal tech || &copy; My School Simplify all right reserved </p>
  </footer>