  <header class="header">
    <nav class="nav">
      <div class="nav-logo">
        <img src="/IMAGE/myschoolresult.png" alt="My School Result Logo" class="logo">
        <h2><span>Myschool</span>Result</h2>
      </div>
      <div class="nav-links">
        <a href="#"  id="home" class="nav-link">Home</a>
        <a href="#result-checker" id="result"  class="nav-link">Check Result</a>
        <a href="/news" class="nav-link">News</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/result_check_guide" class="nav-link">SSCE</a>
        <a href="/admin" class="nav-cta">Login</a>
      </div>
      <button class="hamburger" aria-label="Toggle Menu">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
    <div class="mobile-menu">
      <button class="close-menu" aria-label="Close Menu">
        <i class="fas fa-times"></i>
      </button>
      <div class="item"><a  id="home" href="/" class="mobile-nav-link">Home</a></div>
      <div class="item"><a id="result" href="#result-checker" class="mobile-nav-link">Check Result</a></div>
      <div class="item"><a href="/news" class="mobile-nav-link">News</a></div>
      <div class="item"><a href="/about" class="mobile-nav-link">About</a></div>
      <div class="item"><a href="/result_check_guide" class="mobile-nav-link">Contact</a></div>
      <div class="item"><a href="/admin" class="mobile-nav-cta">Login</a></div>
    </div>
    
  </header>