<div class="navigation">
    <div class="cancel">X</div>
    <div style="background:white; margin:0px auto">
        <img src="IMAGE/<%=school.toLowerCase() %>.png" alt="school logo" height="90px" width="90px"/>
    </div>
     <p>QUICK LINKS</p>
     <p><a href="/">CHECK RESULT</a></p>
     <p><a href="/admin">UPLOAD RESULT</a></p>
     <p><a href="/studentgrade">STUDENT GRADE</a></p>
     <p><a href="/studentid">GET STUDENT ID</a></p>
     <p><a href="/generateid">NEW STUDENT</a></p>
     <p><a href="update">UPDATE STUDENT RECORD</a></p>
     <p><a href="/blacklist">BLACKLIST</a></p>
     <p><a href="/logout">LOGOUT</a></p>
     <p style="color:rgb(17, 221, 215); margin-top:30px;"><%=school.toUpperCase() %></p>

 </div>