<section id="home">
    <div class="hero-image">
      <img src="myschool s.png" alt="Uniben campus">
      <div class="hero-text">
        <h1>Welcome to My School Simplify</h1>
        <p>Bringing universities to you</p>
        <div class="search-input"><input type="text" placeholder="search for content here"> </div>
        <button>SEARCH</button>
      </div>
    </div>
  </section>