.admin-container{
    display:flex;
    justify-content: space-between;
    width: 98%;
    height: 100%;
    position:relative;
}
.navigation{
    background:#13022F;
    height:100vh;
    width: 20%;
    display:flex;
    flex-direction: column;  
    justify-content: center;
    position: relative;
}
.navigation a{
    color:white;   
}
.navigation:first-child{
    color:white;
}
.navigation p{
    padding: 5px 5px;
    border-bottom: solid 1px white;
}
.navigation a:hover{
    color:grey;
}
.section{
    height:100%;
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cancel{
    position:absolute;
    height:50px;
    width:50px;
    display:none;
    justify-content: center;
    align-items:center;
    right:0;
    top:0;
    color:red;
    cursor:pointer;
    border-radius:100%;
    
}
.cancel:hover{
    background:blue;
}
.menu{
    height:35px;
    width: 40px;
    border: 3px solid blue;
    margin:10px 10px;
    border-radius:10px;
    display:none;
}
.menu:hover{
    background:rgb(112, 245, 112);
}
.menu div{
    border-bottom: 3px solid blue;
    margin-top:6px;
}
@media only screen and (max-width:800px){
    .menu{
        display:block;
    }
    .navigation{
        display:none;
        font-size:18px;
    }
    .section{
        margin: 0px auto;
        width:99%;
        font-size: 14px;
    }
}


.navigation-mobile{
    position:absolute;
    width: 300px;
    top:0;
    z-index:2;
}
.cover{
    background:rgba(10, 10, 10,0.5);
    width:99vw;
    height:100%;
    position: fixed;
    top:0;
   display:none;
}

.loading{
    height: 100px;
    width: 100px;
    border-top: 2px solid blue;
    border-radius: 100%;
    animation: circle 1s linear infinite;
    position: absolute;
    top:50%;
    right:45%;
}
@keyframes circle {
    0% {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
        transform: rotate(360deg); /* Rotate to 360 degrees */
    }
}
/*BLack list*/
.blacklist{
    display:flex; 
    min-height: 100px; 
    width: 700px; 
    justify-content: space-around; 
    align-items: center;
    position: absolute;
    top: 50%;
    left:35%;
    background:white;
    box-shadow: -2px -2px 2px 2px grey;
    font-size: 18px;
    display: none;
   
}
#studentName{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    min-height: 100px;
    margin-top: 70px;
}
/*this class is added with js to style up the data from database in blocklist*/
.dialogboxDisplay{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
#studentName button{
    width: 70px;
    height:30px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.studentList{
    min-height: 300px;
    width:700px;
    margin:10px auto;
    text-align: center;
}
@media only screen and (max-width:700px){
    .studentList{
        width:100%;
    }
    .blacklist{
        width: 99%;
        left: 0px;
        font-size:14px;
    }
}
.studentList table, .studentList th, .studentList td{
    border-collapse: collapse;
    border: 2px solid black;
}
.studentList th{
    background:rgb(11, 11, 82);
    color:white;
}
.studentList td:last-child{
    color:blue;
    cursor:pointer;
    font-weight: bold;
}
.studentList td:last-child:hover{
    color:rgb(171, 171, 218);
}
.studentList td, .studentList tr{
    height: 50px;
    padding:5px;
    
}
.cancel2{
    position:absolute;
    height:50px;
    width:50px;
    display:flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items:center;
    right:0;
    top:0;
    color:white;
    background:red;
    cursor:pointer;
    border-radius:100%;
}  
.cancel2:hover{
    background:pink;
}