*{
    margin:0px;
    padding:0px;
}

#resultContainer {
    width: 730px; /* Set a maximum width for laptop view */
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background:white;
   
    position: relative;
    
    box-sizing: border-box; /* Ensure padding does not increase element width */
    
  }
  .t_container {
    
  }
 
.school{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-bottom: solid 2px blue;
    padding-bottom: 10px;
    margin:0px auto;
    overflow:hidden;
}

.logo{
    width:120px;
    height:120px;
    background:url('/golden hill.png');
    background-repeat: no-repeat;
    background-size:contain;
} 
.school-name{
    text-align:center;
}
.school-name h1{
    font-size:4em;
    font-family:Futura Bk BT;
    font-weight:bolder;
    color:rgb(224, 206, 100);
}
.school-name h3{
    font-size:1.4em;
    color:red;
}
.school-info{
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.address-info{
    display:flex;
    justify-content:space-between;
    width:90%;
}

.address{
    width:69%;
    font-weight:bold;
}
.contact{
    width:30%;
    text-align:right;
    font-weight:bold;
}
.sudent-info{
    width:100%;
    margin:0px auto;
    font-size:1.1em;
    text-align:justify;  
    text-align:center;  
}
@media only screen and(max-width:1000px){
    .student-info{
        font-size:0.9em;

    }
}
.sudent-info div{
    font-size:20px;
    font-weight:bold;
    margin:15px auto;
    width:95%;
}
.sudent-info p{
    margin:7px 0px;
}
.result{
    width:100%;
    margin:0px auto;
    font-size:24px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
}
.score div{
    font-size:11px;
    border:solid 2px black;
    padding:3px 0px;
    margin-top:10px;
    font-weight:bold;
}
.score table td{
    height:25px;
}
.th1 {
    writing-mode: vertical-rl; /* Vertical writing mode */
    text-align: center; /* Centers content horizontally */
    white-space: wrap; /* Prevents wrapping */
    transform: rotate(180deg); /* Rotates text 180 degrees (not 90) clockwise */
    height: 50px;
}

.score{
    width:62%;
}
.analysis{
    width:37%;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    overflow:hidden;
    font-size:14px;  
}
.analysis-div1{
    height:23px;
    margin-top:10px;
    border:solid 1.5px black;
    font-weight:bold;
    font-size:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
table, td, th{
    border:1px solid black;
    margin:0px;
    border-collapse: collapse;
    font-size:12px;
}
td{
    height:25px;
}
.grade{
    display:flex;
    width:100%;
}
.grade div{
   
    border: solid 1px black;
    display:flex;
    align-items:center;
    flex-direction:column;
    font-size:10px;
    font-weight:bold;
    margin-bottom:5px;
    
}
.grade ol{
    margin-left:10px;
}
.grade li{
    padding:1px 2px;
    
}
.pesonality table td, .rating table td{
    font-size:12px;
    height:10px;
} 
.rating{
    margin:5px 0px;
   
}
.comment{
    width:350px;
}
.comment p{
    font-size:12px;
    font-weight:bold;
    padding:0.5px 0px;
}
span{
    padding:0px 3px;
    font-weight:bold;
}
@media only screen and (max-width:1000px){
    .container{
        width:none;
    }
}
@media print{
    .container{
        width:98%;
    }
}
