input{
    width:140px;
}
fieldset{
    border: 2px solid #064641
}
.platform{
    width: 450px;
    margin: auto auto;
    font-size: bold;
    text-decoration: underline;
    text-align:center;
}

nav{
    width: 200px;
    height:50px;
    background: blue;
    border-end-end-radius: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
}
nav a{
    font-size: 20px;
    color:white;
}
a:hover{
    color:rgb(206, 195, 195);
}