*{
  margin:0px;
  padding:0px;
  text-decoration:none; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

/* School Styleing */

.school select{
  padding:10px;
  margin:2px;
}
.school button:hover{
  color:black;
  background:rgb(180, 180, 241);
}
.school_nav{
  font-weight:bold;
  position:relative;
 
}
.upload_result{
  height:auto;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:blue;
}
.upload_result input, .upload_result select{
  height:55px;
}
@media only screen and (min-width:800px){
  .upload_result input, .upload_result select{
    height:30px;
  }
}
.school{
  position:relative;
  height:auto;
  width:98%;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  color:blue;
  border:solid 1px black;

 }
 .add_form{
  width:95%;
  margin: auto ;
  text-align:center;
  height:auto;
  position:relative;
  padding:9px;
  font-size:22px;
  color:blue;
 }
 .check_result{
  color:#13022F;
  font-family: "Josefin Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */

}
.welcome{
  text-align:center;
  margin:15px 0px;
  color: var(--my-web-main-color, #13022F);
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.logo{
  height: 84px;
  flex-shrink: 0;
  align-self: stretch;
}
.add_form{
  display: flex;
  width: 331px;
  margin-bottom:20px;
  padding: 10px 0px;
  min-height:400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background:white;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  
}


 button{
  background:blue;
  width:90%;
  height:45px;
  margin-top:8px;
  font-size:20px;
  color:white;
  box-shadow: 1px 2px 2px;
  border-radius:25px;
  margin-bottom:4px;
  border:none; 
 }

 .add_form input, .add_form select{
  width:100%;
  height:45px;
  margin-top:8px;
  font-size:20px;
  box-shadow: 1px 2px 2px;
  border-radius:20px;
  margin-bottom:4px;
  border:none;
  padding:3px 10px;
  
 }
 .add_form select, .add_form button{
  width:99%;
  
 }
.upload_result fieldset, .upload_result legend{
  margin-top:20px;
}
.upload_result p{
  margin:2px;
}
.studentInfo input{
  height:30px;
  width:420px;
  margin:5px;
}
.schoolInfo input{
  width:98%;
  height:30px;
  font-size:18px;
}

/*FOOTER */
.footer{
  padding:10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  background:#13022F;
  color:white;
  font-family:arial;
  line-height:1.5em
}

#contact, #copy, #about{
  width:384px;
  margin:20px 0px;
  color: var(--cbt-color-3, #FFF);
  text-align: justify;
  font-family: "Work Sans";
  font-size: 18px;
  display:flex;
  flex-direction:column;
  
}

@media only screen and (max-width: 850px){
  .footer{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
  }
  #contact, #copy, #about{
    width:95%;
    justify-content:space-around;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  #contact{
    text-align:center;
  }
  #contact input, #contact textarea{
    width: 90%;
    height: 19px;
    font-size:20px;
    margin:2px 0px;
    padding: 8px 16px;
    border-radius: 20px;
  }
  #contact textarea{
    height:70px;
    width:90%;
    font-size:20px;
    background:white;
    border-radius: 20px;
    padding: 8px 16px;
    margin-top:2px;
  }
  
}
#contact h2, #copy h2, #about h2{
  color: #FFF;
  text-align: justify;
  /* Mobile Headline small */
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

#contact button{
  width: 277px;
  padding: 5px 10px;
}
#contact input, #contact textarea{
  width: 260px;
  padding: 8px 16px;
  height: 19px;
  font-size:20px;
  border-radius: 20px;
  margin-bottom:2px;
}
#contact textarea{
  height:70px;
}
/* report card styling */
