.table tr, .table td, .table th{
    border:solid 2px black;
    padding:5px;
}
table{
    border-collapse: collapse;
}

.table select{
    border: none;
    outline: none;
    background: rgb(11, 11, 61);
    font-size: 16px;
    font-weight: bold;
    color:white;
}

.table th{
    background:rgb(11, 11, 61);
    color:white;
}