<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
                
        </div>
        <div class="admin-container">
            <%- include('./partials/navigation.ejs') %>
           
            <div class="section">
                <div class="welcome"><h2>Welcome Back <%= school %></h2></div>
                <div  class="add_form">
                        <form action="upload" method="post" onsubmit="return check()">
                            <select name="Sclass" id="Sclass" required>
                                    <option value=""> STUDENT CLASS</option>
                                    <option value="senior">Senior School</option>
                                    <option value="junior">Junior School</option>
                                    <option value="primary">Primary School</option>
                                    <option value="nursery">Nursery School</option>
                            </select>
                            <button>Login</button>
                        
                        </form>
                    </div>
            </div>
            
        </div>
    
    <script src="Java Script/menu.js"></script>
    </body>

</html>
