<!DOCTYPE html>

<html>
    <head>
        <title>Admin page | Junior</title>
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./admin">Admin</a></li>
                
              </ul>
            </nav>
          </header>
        <h2>FORM FOR JUNIOR SECONDARY SCHOOL</h2>
        <div class="upload_result"> 
            <form action="adminJunior" method="post" onsubmit="return check();">
                <fieldset>
                    <legend>RESULT INFO:</legend>
                    <p><input type="text" value="English Language" name="eng" id="eng"/><input type="text" placeholder="1st Text" name="eng1st" id="eng1st"/><input type="text" placeholder="2st Text" name="eng2nd" id="eng2nd"/><input type="text" placeholder="Exam" name="engexam" id="engexam"/><input type="text" placeholder="TOTAL SCORE" name="engscore" id="engscore"/><input type="text" placeholder="GRADE" name="engG" id="engG"/></p>
                    <p><input type="text" value="Mathematics" name="mth" id="mth"/><input type="text" placeholder="1st Text" name="mth1st" id="mth1st"/><input type="text" placeholder="2st Text" name="mth2st" id="mth2nd"/><input type="text" placeholder="Exam" name="mthexam" id="mthexam"/><input type="text" placeholder="TOTAL SCORE" name="mthscore" id="mthscore"/><input type="text" placeholder="GRADE" name="mthG" id="mthG"/></p>
                    <p><input type="text" value="Basic Science" name="bsc" id="bsc"/><input type="text" placeholder="1st Text" name="bsc1st" id="bsc1st"/><input type="text" placeholder="2st Text" name="bsc2nd" id="bsc2nd"/><input type="text" placeholder="Exam" name="bscexam" id="bscexam"/><input type="text" placeholder="TOTAL SCORE" name="bscscore" id="bscscore"/><input type="text" placeholder="GRADE" name="bscG" id="bscG"/></p>
                    <p><input type="text" value="Basic Technology" name="btc" id="btc"/><input type="text" placeholder="1st Text" name="btc1st" id="btc1st"/><input type="text" placeholder="2st Text" name="btc2nd" id="btc2nd"/><input type="text" placeholder="Exam" name="btcexam" id="btcexam"/><input type="text" placeholder="TOTAL SCORE" name="btcscore" id="btcscore"/><input type="text" placeholder="GRADE" name="btcG" id="btcG"/></p>
                    <p><input type="text" value="Home Economics" name="hec" id="hec"/><input type="text" placeholder="1st Text" name="hec1st" id="hec1st"/><input type="text" placeholder="2st Text" name="hec2nd" id="hec2nd"/><input type="text" placeholder="Exam" name="hecexam" id="hecexam"/><input type="text" placeholder="TOTAL SCORE" name="hecscore" id="hecscore"/><input type="text" placeholder="GRADE" name="hecG" id="hecG"/></p>
                    <p><input type="text" value="French" name="fre" id="fre"/><input type="text" placeholder="1st Text" name="fre1st" id="fre1st"/><input type="text" placeholder="2st Text" name="fre2nd" id="fre2nd"/><input type="text" placeholder="Exam" name="freexam" id="freexam"/><input type="text" placeholder="TOTAL SCORE" name="frescore" id="frescore"/><input type="text" placeholder="GRADE" name="freG" id="freG"/></p>
                    <p><input type="text" value="Agricultural Science" name="agr" id="agr"/><input type="text" placeholder="1st Text" name="agr1st" id="agr1st"/><input type="text" placeholder="2st Text" name="agr2nd" id="agr2nd"/><input type="text" placeholder="Exam" name="agrexam" id="agrexam"/><input type="text" placeholder="TOTAL SCORE" name="agrscore" id="agrscore"/><input type="text" placeholder="GRADE" name="agrG" id="agrG"/></p>
                    <p><input type="text" value="Computer Studies" name="csc" id="csc"/><input type="text" placeholder="1st Text" name="csc1st" id="csc1st"/><input type="text" placeholder="2st Text" name="csc2nd" id="csc2nd"/><input type="text" placeholder="Exam" name="cscexam" id="cscexam"/><input type="text" placeholder="TOTAL SCORE" name="cscscore" id="cscscore"/><input type="text" placeholder="GRADE" name="cscG" id="cscG"/></p>
                    <p><input type="text" value="CRKS/IRK" name="crs" id="crs"/><input type="text" placeholder="1st Text" name="crs1st" id="crs1st"/><input type="text" placeholder="2st Text" name="crs2nd" id="crs2nd"/><input type="text" placeholder="Exam" name="crsexam" id="crsexam"/><input type="text" placeholder="TOTAL SCORE" name="crsscore" id="crsscore"/><input type="text" placeholder="GRADE" name="crsG" id="crsG"/></p>
                    <p><input type="text" value="Physical & Health Edu" name="ped" id="ped"/><input type="text" placeholder="1st Text" name="ped1st" id="ped1st"/><input type="text" placeholder="2st Text" name="ped2nd" id="ped2nd"/><input type="text" placeholder="Exam" name="pedexam" id="pedexam"/><input type="text" placeholder="TOTAL SCORE" name="pedscore" id="pedscore"/><input type="text" placeholder="GRADE" name="pedG" id="pedG"/></p>
                    <p><input type="text" value="Cultural and Creative Art" name="cra" id="cra"/><input type="text" placeholder="1st Text" name="cra1st" id="cra1st" /><input type="text" placeholder="2st Text" name="cra2nd" id="cra2nd"/><input type="text" placeholder="Exam" name="craexam" id="craexam"/><input type="text" placeholder="TOTAL SCORE" name="crascore" id="crascore"/><input type="text" placeholder="GRADE" name="craG" id="craG"/></p>
                    <p><input type="text" value="Hausa/Igbo/Yoruba" name="hiy" id="hiy"/><input type="text" placeholder="1st Text" name="hiy1st" id="hiy1st"/><input type="text" placeholder="2st Text" name="hiy2nd"  id="hiy2nd"/><input type="text" placeholder="Exam" name="hiyexam" id="hiyexam"/><input type="text" placeholder="TOTAL SCORE" name="hiyscore" id="hiyscore"/><input type="text" placeholder="GRADE" name="hiyG" id="hiyG"/></p>
                    <p><input type="text" value="Social Studies" name="std" id="std"/><input type="text" placeholder="1st Text" name="std1st" id="std1st"/><input type="text" placeholder="2st Text" name="std2nd" id="std2nd"/><input type="text" placeholder="Exam" name="stdexam" id="stdexam"/><input type="text" placeholder="TOTAL SCORE" name="stdscore" id="stdscore"/><input type="text" placeholder="GRADE" name="stdG" id="stdG"/></p>
                    <p><input type="text" value="Civic Education" name="ced" id="ced"/><input type="text" placeholder="1st Text" name="ced1st" id="ced1st"/><input type="text" placeholder="2st Text" name="ced2nd" id="ced2nd"/><input type="text" placeholder="Exam" name="cedexam" id="cedexam"/><input type="text" placeholder="TOTAL SCORE" name="cedscore" id="cedscore"/><input type="text" placeholder="GRADE" name="cedG" id="cedG"/></p>
                    <p><input type="text" value="Business Studies" name="bst" id="bst"/><input type="text" placeholder="1st Text" name="bst1st" id="bst1st"/><input type="text" placeholder="2st Text" name="bst2nd" id="bst2nd"/><input type="text" placeholder="Exam" name="bstexam" id="bstexam"/><input type="text" placeholder="TOTAL SCORE" name="bstscore" id="bstscore"/><input type="text" placeholder="GRADE" name="bstG" id="bstG"/></p>
                </fieldset>
                <fieldset class="studentInfo">
                    <legend>STUDENT INFO:</legend>
                    <p><input type="text" placeholder="Student Name" name="userName" required="required"/><input type="text" placeholder="average score" id="average" name="average"/></p>
                    <p><input type="text" Placeholder="Student ID" name="studentId" required="required"/><input type="text" placeholder="No. subj offfer" id="No_subj" name="No_subj" /></p>
                    <p><input type="text" placeholder="score obtainable" id="score_obtainable" name="score_obtainable"/> <input type="text" id="score_obtain" placeholder="total score obtain" name="score_obtain" /></p>
                    <p>
                        <p id="respond" style="color:red"></p>
                        <label>CLASS</label>:
                        <select id = "Sclass" name="class">
                            <option></option>
                            <option value="JSS1">JSS1</option>
                            <option value="JSS2">JSS2</option>
                            <option value="JSS3">JSS3</option>
                        </select>
                        <label>SCHOOL TERM</label>:
                        <select id="Sterm" name="term">
                            <option></option>
                            <option value="FIRST TERM">FIRST TERM</option>
                            <option value="SECOND TERM">SECNOND TERM</option>
                            <option value="THIRD TERM">THRID TERM</option>
                        </select>
                    </p>
                </fieldset>
                <fieldset class="schoolInfo">
                    <legend>School Info:</legend>
                    <p><input type="text" placeholder="School name" name="schoolName" required="required"/></p>
                    <p><input type="text" Placeholder="Address" name="schoolAdd" required="required"/></p>
                    <select name="section" required>
                        <option value="">Academic Section</option>
                        <option value="2023 - 2024">2023 - 2024</option>
                        <option value="2024 - 2025">2024 - 2025</option>
                        <option value="2025 - 2026">2025 - 2026</option>
                        <option value="2026 - 2027">2026 - 2027</option>
                    </select>
                <button>Upload Result</button>
                </fieldset>
                <p id="upload" style="color:red;"></p>
            </form>
        </div>
        <script src="main.js"></script>
        <script src="../junior_score.js"></script>
    </body>
</html>