<!DOCTYPE html>

<html>
    <head>
        <title>Admin page</title>
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link rel="stylesheet" type="text/css" href="style/input.css">
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="./">Home</a></li>
              </ul>
            </nav>
        </header>
          <h2>FORM FOR SENIOR SECONDARY SCHOOL</h2>
            <div class="upload_result"> 
            <form action="adminSenior" method="post" onsubmit="return check();">
                <fieldset>
                    <legend>RESULT INFO:</legend>
                    <p><input type="text" value="English Language" name="eng" id="eng"/><input type="text" placeholder="1st Text" name="eng1st" id="eng1st"/><input type="text" placeholder="2st Text" name="eng2nd" id="eng2nd"/><input type="text" placeholder="CCA" name="engcca" id="engcca"/><input type="text" placeholder="Exam" name="engexam" id="engexam"/><input type="text" placeholder="TOTAL SCORE" name="engscore" id="engscore"/><input type="text" placeholder="GRADE" name="engG" id="engG"/><input type="text" placeholder="REMARK" name="engRemark" id="engRemark"/></p>
                    <p><input type="text" value="Mathematics" name="mth" id="mth"/><input type="text" placeholder="1st Text" name="mth1st" id="mth1st"/><input type="text" placeholder="2st Text" name="mth2nd" id="mth2nd"/><input type="text" placeholder="CCA" name="mthcca" id="mthcca"/><input type="text" placeholder="Exam" name="mthexam" id="mthexam"/><input type="text" placeholder="TOTAL SCORE" name="mthscore" id="mthscore"/><input type="text" placeholder="GRADE" name="mthG" id="mthG"/><input type="text" placeholder="REMARK" name="mthRemark" id="mthRemark"/></p>
                    <p><input type="text" value="Biology" name="bio" id="bio"/><input type="text" placeholder="1st Text" name="bio1st" id="bio1st"/><input type="text" placeholder="2st Text" name="bio2nd"  id="bio2nd"/><input type="text" placeholder="CCA" name="biocca" id="biocca"/><input type="text" placeholder="Exam" name="bioexam" id="bioexam"/><input type="text" placeholder="TOTAL SCORE" name="bioscore" id="bioscore"/><input type="text" placeholder="GRADE" name="bioG" id="bioG"/><input type="text" placeholder="REMARK" name="bioRemark" id="bioRemark"/></p>
                    <p><input type="text" value="Goverment" name="gov" id="gov"/><input type="text" placeholder="1st Text" name="gov1st" id="gov1st"/><input type="text" placeholder="2st Text" name="gov2nd" id="gov2nd"/><input type="text" placeholder="CCA" name="govcca" id="govcca"/><input type="text" placeholder="Exam" name="govexam" id="govexam"/><input type="text" placeholder="TOTAL SCORE" name="govscore" id="govscore"/><input type="text" placeholder="GRADE" name="govG"  id="govG"/><input type="text" placeholder="REMARK" name="govRemark" id="govRemark"/></p>
                    <p><input type="text" value="Further Mathematics" name="fmt" id="fmt"/><input type="text" placeholder="1st Text" name="fmt1st" id="fmt1st"/><input type="text" placeholder="2st Text" name="fmt2nd" id="fmt2nd"/><input type="text" placeholder="CCA" name="fmtcca" id="fmtcca"/><input type="text" placeholder="Exam" name="fmtexam" id="fmtexam"/><input type="text" placeholder="TOTAL SCORE" name="fmtscore" id="fmtscore"/><input type="text" placeholder="GRADE" name="fmtG" id="fmtG"/><input type="text" placeholder="REMARK" name="fmtRemark" id="fmtRemark"/></p>
                    <p><input type="text" value="Economics" name="eco" id="eco"/><input type="text" placeholder="1st Text" name="eco1st" id="eco1st"/><input type="text" placeholder="2st Text" name="eco2nd" id="eco2nd"/><input type="text" placeholder="CCA" name="ecocca" id="ecocca"/><input type="text" placeholder="Exam" name="ecoexam" id="ecoexam"/><input type="text" placeholder="TOTAL SCORE" name="ecoscore" id="ecoscore"/><input type="text" placeholder="GRADE" name="ecoG" id="ecoG"/><input type="text" placeholder="REMARK" name="ecoRemark" id="ecoRemark"/></p>
                    <p><input type="text" value="Literature" name="lit" id="lit"/><input type="text" placeholder="1st Text" name="lit1st" id="lit1st"/><input type="text" placeholder="2st Text" name="lit2nd" id="lit2nd"/><input type="text" placeholder="CCA" name="litcca" id="litcca"/><input type="text" placeholder="Exam" name="litexam" id="litexam"/><input type="text" placeholder="TOTAL SCORE" name="litscore" id="litscore"/><input type="text" placeholder="GRADE" name="litG"  id="litG"/><input type="text" placeholder="REMARK" name="litRemark" id="litRemark"/></p>
                    <p><input type="text" value="Computer Studies" name="cst" id="cst"/><input type="text" placeholder="1st Text" name="cst1st" id="cst1st"/><input type="text" placeholder="2st Text" name="cst2nd" id="cst2nd"/><input type="text" placeholder="CCA" name="cstcca" id="cstcca"/><input type="text" placeholder="Exam" name="cstexam" id="cstexam"/><input type="text" placeholder="TOTAL SCORE" name="cstscore" id="cstscore"/><input type="text" placeholder="GRADE" name="cstG" id="cstG"/><input type="text" placeholder="REMARK" name="cstRemark" id="cstRemark"/></p>
                    <p><input type="text" value="Civics" name="civ" id="civ"/><input type="text" placeholder="1st Text" name="civ1st" id="civ1st"/><input type="text" placeholder="2st Text" name="civ2nd" id="civ2nd"/><input type="text" placeholder="CCA" name="civcca" id="civcca"/><input type="text" placeholder="Exam" name="civexam" id="civexam"/><input type="text" placeholder="TOTAL SCORE" name="civscore" id="civscore"/><input type="text" placeholder="GRADE" name="civG" id="civG"/><input type="text" placeholder="REMARK" name="civRemark" id="civRemark"/></p>
                    <p><input type="text" value="Chemistry" name="che" id="che"/><input type="text" placeholder="1st Text" name="che1st" id="che1st"/><input type="text" placeholder="2st Text" name="che2nd" id="che2nd"/><input type="text" placeholder="CCA" name="checca" id="checca"/><input type="text" placeholder="Exam" name="cheexam" id="cheexam"/><input type="text" placeholder="TOTAL SCORE" name="chescore" id="chescore"/><input type="text" placeholder="GRADE" name="cheG" id="cheG"/><input type="text" placeholder="REMARK" name="cheRemark" id="cheRemark"/></p>
                    <p><input type="text" value="Agriculture" name="agr" id="agr"/><input type="text" placeholder="1st Text" name="agr1st" id="agr1st"/><input type="text" placeholder="2st Text" name="agr2nd" id="agr2nd"/><input type="text" placeholder="CCA" name="agrcca" id="agrcca"/><input type="text" placeholder="Exam" name="agrexam" id="agrexam"/><input type="text" placeholder="TOTAL SCORE" name="agrscore" id="agrscore"/><input type="text" placeholder="GRADE" name="agrG" id="agrG"/><input type="text" placeholder="REMARK" name="agrRemark" id="agrRemark"/></p>
                    <p><input type="text" value="Geography" name="geo" id="geo"/><input type="text" placeholder="1st Text" name="geo1st" id="geo1st"/><input type="text" placeholder="2st Text" name="geo2nd" id="geo2nd"/><input type="text" placeholder="CCA" name="geocca" id="geocca"/><input type="text" placeholder="Exam" name="geoexam" id="geoexam"/><input type="text" placeholder="TOTAL SCORE" name="geoscore" id="geoscore"/><input type="text" placeholder="GRADE" name="geoG" id="geoG"/><input type="text" placeholder="REMARK" name="geoRemark" id="geoRemark"/></p>
                    <p><input type="text" value="Physics" name="phy" id="phy"/><input type="text" placeholder="1st Text" name="phy1st" id="phy1st"/><input type="text" placeholder="2st Text" name="phy2nd" id="phy2nd"/><input type="text" placeholder="CCA" name="phycca" id="phycca"/><input type="text" placeholder="Exam" name="phyexam" id="phyexam"/><input type="text" placeholder="TOTAL SCORE" name="physcore" id="physcore"/><input type="text" placeholder="GRADE" name="phyG" id="phyG"/><input type="text" placeholder="REMARK" name="phyRemark" id="phyRemark"/></p>
                    <p><input type="text" value="Commerce" name="com" id="com"/><input type="text" placeholder="1st Text" name="com1st" id="com1st"/><input type="text" placeholder="2st Text" name="com2nd" id="com2nd"/><input type="text" placeholder="CCA" name="comcca" id="comcca"/><input type="text" placeholder="Exam" name="comexam" id="comexam"/><input type="text" placeholder="TOTAL SCORE" name="comscore" id="comscore"/><input type="text" placeholder="GRADE" name="comG" id="comG"/><input type="text" placeholder="REMARK" name="comRemark" id="comRemark"/></p>
                    <p><input type="text" value="CRS" name="crs" id="crs"/><input type="text" placeholder="1st Text" name="crs1st" id="crs1st"/><input type="text" placeholder="2st Text" name="crs2nd" id="crs2nd"/><input type="text" placeholder="CCA" name="crscca" id="crscca"/><input type="text" placeholder="Exam" name="crsexam" id="crsexam"/><input type="text" placeholder="TOTAL SCORE" name="crsscore" id="crsscore"/><input type="text" placeholder="GRADE" name="crsG" id="crsG"/><input type="text" placeholder="REMARK" name="crsRemark" id="crsRemark"/></p>
                    <p><input type="text" value="Accounts" name="acc" id="acc"/><input type="text" placeholder="1st Text" name="acc1st" id="acc1st"/><input type="text" placeholder="2st Text" name="acc2nd" id="acc2nd"/><input type="text" placeholder="CCA" name="acccca" id="acccca"/><input type="text" placeholder="Exam" name="accexam" id="accexam"/><input type="text" placeholder="TOTAL SCORE" name="accscore" id="accscore"/><input type="text" placeholder="GRADE" name="accG" id="accG"/><input type="text" placeholder="REMARK" name="accRemark" id="accRemark"/></p>
                </fieldset>
                <fieldset class="studentInfo">
                    <legend>STUDENT INFO:</legend>
                    <p><input type="text" placeholder="First Name Middle Name Last Name" name="userName" id="userName" required="required" /><input type="text" Placeholder="Student ID" name="studentId" id="studentId" required="required"/></p>
                    <p><button style="width:100px; font-size:14px;" id="GenerateId" >Generate ID</button><button style="width:100px; font-size:14px;" onclick="student()" >Get ID</button></p>
                    <input type="text" placeholder="No. subj offfer" id="No_subj" name="No_subj" /><input type="text" placeholder="average score" id="average" name="average" required/>
                    <p><input type="text" placeholder="score obtainable" id="score_obtainable" name="score_obtainable"/> <input type="text" id="score_obtain" placeholder="total score obtain" name="score_obtain" /></p>
                    <button style="width:300px; font-size:14px;" id="Calc">compute student Scores</button> </p>
                    <p>
                        <p id="respond" style="color:red"></p>
                        <label>CLASS</label>:
                         <select name="class" id="Sclass">
                            <option></option>
                            <option value="SS 1">SS 1</option>
                            <option value="SS 2">SS 2</option>
                            <option value="SS 3">SS 3</option>
                        </select>
                        <label>SCHOOL TERM</label>:
                        <select id="Sterm" name="term">
                            <option></option>
                            <option value="FIRST TERM">FIRST TERM</option>
                            <option value="SECOND TERM">SECNOND TERM</option>
                            <option value="THIRD TERM">THRID TERM</option>
                        </select>
                    </p>
                    
                </fieldset>
                <fieldset>
                    <legend>OHTER INFOMATION </legend>
                    <p>                    
                        <select name="section" required>
                        <option value="">Academic Section</option>
                        <option value="2023 - 2024">2023 - 2024</option>
                        <option value="2024 - 2025">2024 - 2025</option>
                        <option value="2025 - 2026">2025 - 2026</option>
                        <option value="2026 - 2027">2026 - 2027</option>
                    </select>
                    <input type="text" placeholder="times present" name="present" /><input type="text" placeholder="times absent" name="absent" /><input type="text" placeholder="Class Teacher Report" id="tReport" name="tReport" style="width:200px;"/><input type="text" placeholder="Head Teacher Report" name="Treport" id="Treport" style="width:200px"/><input type="text" placeholder="Promoted to" name="promote" /><input type="text" placeholder="outstanding fees" name="fees"/></p>
                </fieldset>
                <fieldset class="schoolInfo">
                    <legend>School Info:</legend>
                    <p><input type="text" placeholder="School name" name="schoolName" required/></p>
                    <p><input type="text" Placeholder="Address" name="schoolAdd" required/></p>
                <button>Upload Result</button>
                </fieldset>
                <p id="upload" style="color:red;"></p>
            </form>
        </div>
        <script src="../main.js"></script>
        <script src="../senior_score.js"></script>
        <script src="../studentId.js"></script>
        <script src="Java Script/fetch.js"></script>
    </body>
</html>