<!DOCTYPE html>

<html>
    <head>
        <title>Admin page | Junior</title>
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link rel="stylesheet" type="text/css" href="style/input.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="./admin">Back to Admin</a>
            </nav>

          </header>
          <div class="platform"><h2>JUNIOR SECONDARY SCHOOL FORM</h2></div>
        <div class="upload_result"> 

            <form action="adminJunior" method="post" onsubmit="return check();">
                <fieldset class="studentInfo">
                    <legend>STUDENT INFO:</legend>
                    <p>
                        <input type="text" placeholder="First Name Middle Name Last Name" name="userName" id="userName" required="required" /><input type="text" Placeholder="Student ID" name="studentId" id="studentId" required="required"/>
                        <button style="width:100px; font-size:14px;" onclick="student()" >Get ID</button>
                    </p>
                   
                    <p>
                        <p id="respond" style="color:red"></p>
                        <label>CLASS</label>:
                        <select id = "Sclass" name="class">
                            <option value="">Class</option>
                            <option value="JSS 1">JSS 1</option>
                            <option value="JSS 2">JSS 2</option>
                            <option value="JSS 3">JSS 3</option>
                        </select>
                        <label>SCHOOL TERM</label>:
                        <select id="Sterm" name="term">
                            <option value="">TERM</option>
                            <option value="FIRST TER;2M">FIRST TERM</option>
                            <option value="SECOND TERM">SECNOND TERM</option>
                            <option value="THIRD TERM">THRID TERM</option>
                        </select>
                    </p>
                    
                </fieldset>
                <fieldset>
                    <legend>RESULT INFO:</legend>
                    <p><input type="text" value="English Language" name="eng" id="eng"/><input type="text" placeholder="1st Text" keyboad='number' name="eng1st" id="eng1st"/><input type="text" placeholder="2st Text" name="eng2nd" id="eng2nd"/><input type="text" placeholder="continuous accessment" id="engca" name="engca"/><input type="text" placeholder="Exam" name="engexam" id="engexam"/><input type="text" placeholder="TOTAL SCORE" name="engscore" id="engscore"/><input type="text" placeholder="GRADE" name="engG" id="engG"/><input type="text" placeholder="Remark" name="engRemark" id="engRemark"/></p>
                    <p><input type="text" value="Mathematics" name="mth" id="mth"/><input type="text" placeholder="1st Text" name="mth1st" id="mth1st"/><input type="text" placeholder="2st Text" name="mth2nd" id="mth2nd"/><input type="text" placeholder="continuous accessment" id="mthca" name="mthca"/><input type="text" placeholder="Exam" name="mthexam" id="mthexam"/><input type="text" placeholder="TOTAL SCORE" name="mthscore" id="mthscore"/><input type="text" placeholder="GRADE" name="mthG" id="mthG"/><input type="text" placeholder="Remark" name="mthRemark" id="mthRemark"/></p>
                    <p><input type="text" value="Basic Science and Technology" name="bsc" id="bsc"/><input type="text" placeholder="1st Text" name="bsc1st" id="bsc1st"/><input type="text" placeholder="2st Text" name="bsc2nd" id="bsc2nd"/><input type="text" placeholder="continuous accessment" id="bscca" name="bscca"/><input type="text" placeholder="Exam" name="bscexam" id="bscexam"/><input type="text" placeholder="TOTAL SCORE" name="bscscore" id="bscscore"/><input type="text" placeholder="GRADE" name="bscG" id="bscG"/><input type="text" placeholder="Remark" name="bscRemark" id="bscRemark"/></p>
                    <p><input type="text" value="History" name="btc" id="btc"/><input type="text" placeholder="1st Text" name="btc1st" id="btc1st"/><input type="text" placeholder="2st Text" name="btc2nd" id="btc2nd"/><input type="text" placeholder="continuous accessment" id="btcca" name="btcca"/><input type="text" placeholder="Exam" name="btcexam" id="btcexam"/><input type="text" placeholder="TOTAL SCORE" name="btcscore" id="btcscore"/><input type="text" placeholder="GRADE" name="btcG" id="btcG"/><input type="text" placeholder="Remark" name="btcRemark" id="btcRemark"/></p>
                    <p><input type="text" value="Speech Science" name="ped" id="ped"/><input type="text" placeholder="1st Text" name="ped1st" id="ped1st"/><input type="text" placeholder="2st Text" name="ped2nd" id="ped2nd"/><input type="text" placeholder="continuous accessment" id="pedca" name="pedca"/><input type="text" placeholder="Exam" name="pedexam" id="pedexam"/><input type="text" placeholder="TOTAL SCORE" name="pedscore" id="pedscore"/><input type="text" placeholder="GRADE" name="pedG" id="pedG"/><input type="text" placeholder="Remark" name="pedRemark" id="pedRemark"/></p>
                    <p><input type="text" value="Business Studies" name="bst" id="bst"/><input type="text" placeholder="1st Text" name="bst1st" id="bst1st"/><input type="text" placeholder="2st Text" name="bst2nd" id="bst2nd"/><input type="text" placeholder="continuous accessment" id="bstca" name="bstca"/><input type="text" placeholder="Exam" name="bstexam" id="bstexam"/><input type="text" placeholder="TOTAL SCORE" name="bstscore" id="bstscore"/><input type="text" placeholder="GRADE" name="bstG" id="bstG"/><input type="text" placeholder="Remark" name="bstRemark" id="bstRemark"/></p>
                    <p><input type="text" value="French" name="fre" id="fre"/><input type="text" placeholder="1st Text" name="fre1st" id="fre1st"/><input type="text" placeholder="2st Text" name="fre2nd" id="fre2nd"/><input type="text" placeholder="continuous accessment" id="freca" name="freca"/><input type="text" placeholder="Exam" name="freexam" id="freexam"/><input type="text" placeholder="TOTAL SCORE" name="frescore" id="frescore"/><input type="text" placeholder="GRADE" name="freG" id="freG"/><input type="text" placeholder="Remark" name="freRemark" id="freRemark"/></p>
                    <p><input type="text" value="National Value" name="agr" id="agr"/><input type="text" placeholder="1st Text" name="agr1st" id="agr1st"/><input type="text" placeholder="2st Text" name="agr2nd" id="agr2nd"/><input type="text" placeholder="continuous accessment" id="agrca" name="agrca"/><input type="text" placeholder="Exam" name="agrexam" id="agrexam"/><input type="text" placeholder="TOTAL SCORE" name="agrscore" id="agrscore"/><input type="text" placeholder="GRADE" name="agrG" id="agrG"/><input type="text" placeholder="Remark" name="agrRemark" id="agrRemark"/></p>
                    <p><input type="text" value="Christian Religion Study" name="crs" id="crs"/><input type="text" placeholder="1st Text" name="crs1st" id="crs1st"/><input type="text" placeholder="2st Text" name="crs2nd" id="crs2nd"/><input type="text" placeholder="continuous accessment" id="crsca" name="crsca"/><input type="text" placeholder="Exam" name="crsexam" id="crsexam"/><input type="text" placeholder="TOTAL SCORE" name="crsscore" id="crsscore"/><input type="text" placeholder="GRADE" name="crsG" id="crsG"/><input type="text" placeholder="Remark" name="crsRemark" id="crsRemark"/></p>
                    <p><input type="text" value="Edo Language" name="hiy" id="hiy"/><input type="text" placeholder="1st Text" name="hiy1st" id="hiy1st"/><input type="text" placeholder="2st Text" name="hiy2nd"  id="hiy2nd"/><input type="text" placeholder="continuous accessment" id="hiyca" name="hiyca"/><input type="text" placeholder="Exam" name="hiyexam" id="hiyexam"/><input type="text" placeholder="TOTAL SCORE" name="hiyscore" id="hiyscore"/><input type="text" placeholder="GRADE" name="hiyG" id="hiyG"/><input type="text" placeholder="Remark" name="hiyRemark" id="hiyRemark"/></p>
                    <p><input type="text" value="Cultural and Creative Art" name="cra" id="cra"/><input type="text" placeholder="1st Text" name="cra1st" id="cra1st" /><input type="text" placeholder="2st Text" name="cra2nd" id="cra2nd"/><input type="text" placeholder="continuous accessment" id="craca" name="craca"/><input type="text" placeholder="Exam" name="craexam" id="craexam"/><input type="text" placeholder="TOTAL SCORE" name="crascore" id="crascore"/><input type="text" placeholder="GRADE" name="craG" id="craG"/><input type="text" placeholder="Remark" name="craRemark" id="craRemark"/></p>
                    <p><input type="text" value="Prevocational Studies" name="csc" id="csc"/><input type="text" placeholder="1st Text" name="csc1st" id="csc1st"/><input type="text" placeholder="2st Text" name="csc2nd" id="csc2nd"/><input type="text" placeholder="continuous accessment" id="cscca" name="cscca"/><input type="text" placeholder="Exam" name="cscexam" id="cscexam"/><input type="text" placeholder="TOTAL SCORE" name="cscscore" id="cscscore"/><input type="text" placeholder="GRADE" name="cscG" id="cscG"/><input type="text" placeholder="Remark" name="cscRemark" id="cscRemark"/></p>

                    <p><input type="text" value="Home Economics" name="hec" id="hec"/><input type="text" placeholder="1st Text" name="hec1st" id="hec1st"/><input type="text" placeholder="2st Text" name="hec2nd" id="hec2nd"/><input type="text" placeholder="continuous accessment" id="hecca" name="hecca"/><input type="text" placeholder="Exam" name="hecexam" id="hecexam"/><input type="text" placeholder="TOTAL SCORE" name="hecscore" id="hecscore"/><input type="text" placeholder="GRADE" name="hecG" id="hecG"/><input type="text" placeholder="Remark" name="hecRemark" id="hecRemark"/></p>
                    <p><input type="text" value="Civic Education" name="ced" id="ced"/><input type="text" placeholder="1st Text" name="ced1st" id="ced1st"/><input type="text" placeholder="2st Text" name="ced2nd" id="ced2nd"/><input type="text" placeholder="continuous accessment" id="cedca" name="cedca"/><input type="text" placeholder="Exam" name="cedexam" id="cedexam"/><input type="text" placeholder="TOTAL SCORE" name="cedscore" id="cedscore"/><input type="text" placeholder="GRADE" name="cedG" id="cedG"/><input type="text" placeholder="Remark" name="cedRemark" id="cedRemark"/></p>
                    
                </fieldset>
                <fieldset>
                    <legend>STUDENT PERFOMANCE</legend>
                    <p>
                        <label>No. subj offfer:</label><input type="text" placeholder="No. subj offfer" id="No_subj" name="No_subj" />
                        <label>average score:</label><input type="text" placeholder="average score" id="average" name="average" required/>
                        <label>score obtainable:</label><input type="text" placeholder="score obtainable" id="score_obtainable" name="score_obtainable"/> 
                        <label>total score obtain:</label><input type="text" id="score_obtain" placeholder="total score obtain" name="score_obtain" />
                        <button style="width:150px; font-size:14px;" id="Calc">compute Scores</button> </p>
                    <p>
                </fieldset>
                <fieldset>
                    <legend>OHTER INFOMATION </legend>
                    <p>                    
                        <select name="section" required>
                        <option value="">Academic Section</option>
                        <option value="2023 - 2024">2023 - 2024</option>
                        <option value="2024 - 2025" selected>2024 - 2025</option>
                        <option value="2025 - 2026">2025 - 2026</option>
                        <option value="2026 - 2027">2026 - 2027</option>
                    </select>
                    <input type="text" placeholder="times present" name="present" />
                    <input type="text" placeholder="times absent" name="absent" />
                    <input type="text" placeholder="Class Teacher Report" id="tReport" name="tReport" style="width:200px;"/>
                    <input type="text" placeholder="Head Teacher Report" name="Treport" id="Treport" style="width:200px"/>
                    <input type="text" placeholder="Next term resume" name="nextterm"/>
                    
                    <select id = "promotedto" name="promote">
                        <option value="">Promoted to</option>
                        <option value="JSS 2">JSS 2</option>
                        <option value="JSS 3">JSS 3</option>
                        <option value="SS 1">SS 1</option>
                    </select>
                    <input type="text" placeholder="outstanding fees" name="fees"/></p>
                </fieldset>
                   
                <button>Upload Result</button>
                
                <p id="upload" style="color:red;"></p>
            </form>
        </div>
        <script src="Java Script/main.js"></script>
        <script src="../junior_score.js"></script>
        <script src="../studentId.js"></script>
        <script src="Java Script/fetch.js"></script>
        <script src="Java Script/upDateStudentClass.js"></script>
        <script src="JAVA SCRIPT/juniorSubject.js"></script>

    </body>
</html>