<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./admin">Admin</a></li>
                
              </ul>
            </nav>
          </header>
        <div style="height:83.5px;"></div>
        <div class="school">
            <form action="upload" method="post">
                <fieldset>
                    <legend>Fill in the form</legend>
                    <p><label for="user">Username</label> <input type="text" id="user" name="user"/></p>
                    <p><label for="id">Password</label><input type="text" id="password" name="password"/></p>
                    <label>Class</label>
                    <select name="Sclass">
                            <option></option>
                            <option value="senior">Senior School</option>
                            <option value="junior">Junior School</option>
                    </select>
                    <button>Login</button>
                </fieldset>
            </form>
        </div>
    
    </body>
   <script src="main.js"></script>




</html>
