<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRDY8JQBQ7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZRDY8JQBQ7');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="table.css"/>
    <title>Document</title>
    <style>
        body{
            height:100%;
            width:98%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            font-size:20px;
        }
        div{
            min-width: 50%;
            max-width:99%;
            padding:5px;
            background:rgb(4, 4, 63);
            color:white;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1><%= student.school %></h1>
    <div>
        <h2> <%= student.studentName %></h2>
        <p style="color:red">OPPS!! YOU HAVE AN OUTSTANDING FEES TO PAY </p>
        <p>Kidly clear all fees and contact school to access your result</p>
    </div>
</body>
</html>