<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/blixx-international.css" />
    <title>Document</title>
</head>
<body>
   <div class="container">
    <div class="header">
       <div class="title"><div></div> <h2>BLIXX INTERNATIONAL SCHOOL</h2></div>
        <P style="font-size:20px;">No. 5, Ogieriakhi Street, Off Eria-eria Rad, Off Sapele Road &</P>
        <p>Otobor Stree, Off Goody Goody by Secon Transformer, Upper</p>
        <p>Sakponba Road, Benin City</p>
        <p style="color:red;">Tell: 0813006152, 0703905948</p>
    </div>
    <div class="studentId">
        <div>
            <p style="color:red;">ADMISSION NO</p>
            <div class="box"></div>
        </div>
        <div>
            <p style="color:red;">STUDENT ID</p>
            <div class="box"></div>
        </div>
    </div>
    <div class="studentInfo">
        <div> <p>Name:</p> </div>
        <div><p>Junior Secondary: Attendance:</p>  <p>Absent: </p></div> 
        <div> <p>Class: </p><p>Year:</p><p>Term:</p></div>
    </div>

    <div>
        <table>
            <tr>
                <th>SUBJECT</th>
                <th>1ST TEST</th>
                <th>2ND TEST</th>
                <th>C.A</th>
                <th>EXAM</th>
                <th>GRAD TOTAL</th>
                <th>GRADE</th>
                <th>SIGNATURE</th>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
           

            <tr>
                <td>TOTAL</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>10%</td>
                <td>10%</td>
                <td>10%</td>
                <td>70%</td>
                <td>100%</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="studentInfo" style="color:blue;">
        <div>
            <p>Pass Grade:</p><p>Average:</p><p>Position:</p><p>Out of:</p>
        </div>
        
        <p>From Master' Report</p>
        <div><p>Next term School Fees</p><p>Exam fee</p><p>Next term begins</p></div>
        <div>
            <p>Date</p>
            <div>
                <div></div>
                <p style="color:red;">Proprietor's sign.</p>
            </div>
        </div>
    </div>
   </div>
</body>
</html>