<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/blixx-international.css" />
    <title>Document</title>
</head>
<body>
   <div class="container">
    <div class="header">
       <div class="title"><div></div> <span>BLIXX INTERNATIONAL SCHOOL</span></div>
        <P style="font-size:20px;">No. 5, Ogieriakhi Street, Off Eria-eria Rad, Off Sapele Road &</P>
        <p>Otobor Stree, Off Goody Goody by Secon Transformer, Upper</p>
        <p>Sakponba Road, Benin City</p>
        <p style="color:red;">Tell: 0813006152, 0703905948</p>
    </div>
    <div class="studentId">
        <div>
            <p style="color:red;">ADMISSION NO</p>
            <div class="box"></div>
        </div>
        <div>
            <p style="color:red;">STUDENT ID</p>
            <div class="box"></div>
        </div>
    </div>
    <div class="studentInfo">
        <div> <p>Name: OKOTOAZA CHRISTIAN</p> </div>
        <div><p>Junior Secondary: Attendance: 33</p>  <p>Absent: 3</p></div> 
        <div> <p>Class: JSS2</p><p>Year: 2023-2024</p><p>Term: THIRD TERM</p></div>
    </div>

    <div>
        <table>
            <tr>
                <th style="width:150px;">SUBJECT</th>
                <th>1ST TEST</th>
                <th>2ND TEST</th>
                <th>C.A</th>
                <th>EXAM</th>
                <th>GRAD TOTAL</th>
                <th>GRADE</th>
                <th>SIGNATURE</th>
            </tr>
            <tr>
                <td>English Language</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
            <tr>
                <td>English</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>70</td>
                <td>100</td>
                <td>A+</td>
                <td>Excellent</td>
            </tr>
           

            <tr>
                <td>TOTAL</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>10%</td>
                <td>10%</td>
                <td>10%</td>
                <td>70%</td>
                <td>100%</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="studentInfo" style="color:blue; position:relative">
        <div>
            <p>Pass Grade: 79%</p><p>Average: 89.5</p><p>Position:</p><p>Out of:</p>
        </div>
        
        <p>From Master' Report</p>
        <div><p>Next term School Fees:</p><p>Exam fee: 2000</p><p>Next term begins: 22 of July 2025</p></div>
        <div>
            <p>Date</p>         
        </div>
       <div style="color:red; display: flex; justify-content: flex-end; border:none"> <p>Proprietor's sign.</p> </div> 
    </div>
   </div>
</body>
</html>