<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>

        <div class="room">
            <div class="Rheader">
                <p>My School Simplify Chat Room</p> <button id="leave"><a href="/chat">Leave Room</button></a>
            </div>
            <div style="display:flex;">
                <div class="Rinfo">

                    <div class="Rname">
                        <p>Room Name:</p>
                        <p>Computer Sci</p>
                       
                    </div>
                    <div class="Nuser">
                        <p>Uers</p>
                        <p>300 User</p>
                       
                    </div>
                    
                </div>
                <div id="display">
                    <div class="Ctext">
                        <p>Osas 2.00pm</p>
                        <p>Hello Every one</p>
                    </div>
                    <div class="Ctext">
                        <p>Osas 2.00pm</p>
                        <p>Hello Every one</p>
                    </div>
                   
                </div>
            </div>
            <div class="Cinput">
                <input type="text" id="text">
                <button id="button">Send</button>
            </div>
        </div>
    </body>
</html>