<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <body>
            <header>
                <nav>
                  <ul>
                    <li><a href="./">Home</a></li>
                    <li><a href="./admin">Admin</a></li>
                    
                  </ul>
                </nav>
              </header>
                <div style="margin:auto; width:400px; color:red; text-align:center;">
                    <div style="height:83.5px;"></div>
                    <h2> No record found for</h2> <h1><%= name %> </h1>
                    <p>check to see if all details are well entered </p>
           ``   </div>
    </body>
</html>