<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GOLDEN HILLS</title>
		<link rel="stylesheet" type="text/css" href="style/golden-hills.css"/>
	</head>
	
	<body>
		<div class="container">
			<div class="school">
				<div class="logo"></div>
				<div class="school-info">
					<div class="school-name">
						<h1>GOLDEN HILLS</h1>
						<h3>MONTESSORI SCHOOLS BENIN</h3>
					</div>
					<div class="address-info">
						<div class="address">11, Irene Street Opp, Conoil Petrol Station, Off Ekehuan Road, Benin City.</div>
						<div class="contact">Tel: 08036329540 08039700094</div>
					</div>
				</div>
				<div class="passport"></div>
			</div>	
			<div class="sudent-info">
				<div>BASIC 5, 1ST TERM RESULT 2023/2024 ACADEMIC SESSION</div>
				<p>NAME OF PUPIL PREDENT: <u><span>IYOBOSA IROWA</span></u> SEX: <span><u>FEMALE</u></span> D.O.B: <span><u>18TH SEPT. 2024</u></span></p>
				<P>TOTAL MARKS SCORE: <span><u> 1200</u></span> OUT OF: <span><u>87</u></span> AVERAGE: <span><u>85</u></span> CLASS: <span><u>BASIC 5</u></span></P>
				<P>ADMISSSION NO.: <span><u>77</u></span> NO. OF TIMES PRESENT: <span><u>95</u></span> NO OF TIMES ABSET: <span><u>3</u></span></P>
			</div>
			
			<div class="result">
				<div class="score">
					<div>ACADEMIC PROGRESS REPORT SUMMARIES AND TEST (COGNITIVE DOMAIN)</div>
					<table>
						<tr>
							<th width="200">SUBJECT</th>
							<th>1st test 10%</th>
							<th>2nd test 10%</th>
							<th>project 10%</th>
							<th>Exam 70%</th>
							<th>Total 100%</th>
							<th>Grades</th>
							<th width="100">REMARKS</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Very Good</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="analysis">
					<div class="analysis-div1">SOCIAL BEHAVIOURS & MANIPULATIVE SKILLS</div>
					<div class="grade">
						<div>
							<div style="width:100%;">KEY TO GRADING</div>
							<ol>
								<li>80% - 100% = A+ = Exellent</li>
								<li>70% - 79% = A = Very Good</li>
								<li>60% - 69% = B = Credit</li>
								<li>50% - 59% = C = Merit</li>
								<li>40% - 49% = D = Pass</li>
								<li>0%  - 39% = F = Fail</li>
							</ol>
						</div>
						<div>
							<div style="width:100%;">RATING</div>
							<ul>
								<li>A = 5 = Exellent</li>
								<li>B = 4 = Very Good</li>
								<li>C = 3 = Good</li>
								<li>D = 2 = Fair</li>
								<li>E = 1 = Poor</li>
							</ul>
						</div>
					</div>
					<div class="pesonality">
						<table>
							<tr>
									<th width="200">AFFECTIVE DOMAIN</th>
									<th width="30">5</th>
									<th width="30">4</th>
									<th width="30">3</th>
									<th width="30">2</th>
									<th width="30">1</th>
									
							</tr>
							<tr>
								<td>1. Puntuality</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>2. Attendance</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>3. Politeness</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>4. Attentiveness</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>5. Obedience<td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>6. Neatness</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>7. Honesty</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>8. Self Confidence</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>9. Interaction</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>10. Leadership role</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							
						</table>
					</div>
					<div class="rating">
						<table>
							<tr>
								<th width="250">PSYCHOMOTOR DOMAIN</th>
								<th width="30">5</th>
								<th width="30">4</th>
								<th width="30">3</th>
								<th width="30">2</th>
								<th width="30">1</th>
							</tr>
							<tr>
								<td>1.Handling of Tools</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>2. Hand Writing</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>3. Flueency</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>4. Crafts</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>5. Sports/ Games</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>6. Painting & Drawing</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>6. Painting & Drawing</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>7. Musical Slills</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
					<div class="comment">
						<p>Class Manager's Comment_______________________</p>
						<p>_______________________________________________</p>
						<p>_______________________________________________</p>
						<p>Class Manager's Name___________________________</p>
						<p>Signature______________________________________</p>
						<p>Head of School Comment________________________</p>
						<p>_______________________________________________</p>
						<p>Promotd To____________________________________</p>
						<p>Outstandind Fees_______________________________</p>
						<p>Next Terms begins______________________________</p>
						<P>Head of School's Signature_____________________</P>
						<p>IDEHEN E.R (MRS.)</p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>