<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  

  <main>
   <%- include('./partials/section') %>
   
    <section id="programs">
      <h2>Programs</h2>
      <ul>
        <li>Undergraduate Programs</li>
          <ul>
            <li>Business Administration</li>
            <li>Computer Science</li>
            <li>Engineering</li>
          </ul>
        <li>Graduate Programs</li>
          <ul>
            <li>MBA</li>
            <li>MSc. Computer Science</li>
            <li>MSc. Engineering</li>
          </ul>
        <li>PhD Programs</li>
          <ul>
            <li>PhD Business Administration</li>
            <li>PhD Computer Science</li>
            <li>PhD Engineering</li>
          </ul>
      </ul>
      <button>See All Programs</button>
    </section>
    <section id="admissions">
  <h2>Admissions</h2>
  <p>Welcome to Uniben, one of the leading universities in the country. We are pleased that you are considering applying to our institution.</p>
  <h3>Undergraduate Admissions</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet suscipit congue, ipsum urna suscipit augue, a convallis risus est a ante. Sed euismod, elit id mollis malesuada, velit velit tempor velit, vel viverra ipsum velit id magna.</p>
  <button>Apply Now</button>
  <h3>Graduate Admissions</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet suscipit congue, ipsum urna suscipit augue, a convallis risus est a ante. Sed euismod, elit id mollis malesuada, velit velit tempor velit, vel viverra ipsum velit id magna.</p>
  <button>Apply Now</button>
  <h3>PhD Admissions</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna sit amet suscipit congue, ipsum urna suscipit augue, a convallis risus est a ante. Sed euismod, elit id mollis malesuada, velit velit tempor velit, vel viverra ipsum velit id magna.</p>
  <button>Apply Now</button>
</section>

<section id="news">
  <h2>News</h2>
  <ul>
    <li>Uniben named one of the top universities in the country</li>
    <li>Uniben professor wins prestigious research award</li>
    <li>Uniben's business program ranked in the top 10 nationwide</li>
  </ul>
  <button>See all news</button>
</section>
<hr/>
</main>
<%- include('./partials/footer') %>
 
<script src="main.js"></script>
</body>
</html>

