<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <%- include('./partials/head.ejs') %>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./admin">Admin</a></li>
                
              </ul>
            </nav>
          </header>
          <div style="height:83.5px; width:400px; margin:auto;"><h2>CHECK YOUR RESULT HERE</h2></div>
          
           <div class="school">
            
            <form action="/details" method="post" onsubmit="return check()">
                <Fieldset>
                <legend>Fill in the form</legend>
                <p><input type="text" placeholder="Enter Your Name" name="userName"/ required></p>
                <p><input type="password" Placeholder="Enter Your ID" name="studentId" required/></p>
                <p>
                    <label>CLASS</label>:
                    <select id = "Sclass" name="class">
                        <option></option>
                        <option  value="JSS1">JSS1</option>
                        <option  value="JSS2">JSS2</option>
                        <option  value="JSS3">JSS3</option>
                        <option  value="SS1">SS1</option>
                        <option  value="SS2" >SS2</option>
                        <option value="SS3">SS3</option>
                    </select>
                    <label>SCHOOL TERM</label>:
                    <select id="Sterm" name="term">
                        <option></option>
                        <option value="FIRST TERM">FIRST TERM</option>
                        <option value="SECOND TERM">SECOND TERM</option>
                        <option value="THIRD TERM">THIRD TERM</option>
                    </select>
                </p>
                <button>View Result</button>
                </Fieldset>
            </form>
       
        </div>
        <p id="respond" style="color:red; width:300px; margin:auto;"></p>
        <div style="height:83.5px;"></div>
        
        <%- include('./partials/footer.ejs') %>
        <script src="main.js"></script>
    </body>
</html>