<!DOCTYPE html>

<html>
    
    <%- include('./partials/head.ejs') %>
    <body>
        <div style="background:url('background.jpg'); background-size: cover;">
                    <img src="IMAGE/myschoolresult.png" type="image/png" class="logo"/>
                        <div style="width: 300px; margin:auto">Welcome to My School Result Checker</div>
                        <div class="add_form">
                            <div class="check_result">Check Result</div>
                            <form action="/result" method="post" onsubmit="return check()">
                                <p><input type="text" placeholder="Enter Your Name" name="userName"/ required></p>
                                <p><input type="text" Placeholder="Enter Your ID" name="studentId" required/></p>
                                <p>
                                    <select id = "Sclass" name="class">
                                        <option value=""> SELECT CLASS</option>
                                        <option  value="SS 1">SS1</option>
                                        <option  value="SS 2" >SS2</option>
                                        <option value="SS 3">SS3</option>
                                        <option  value="JSS 1">JSS1</option>
                                        <option  value="JSS 2">JSS2</option>
                                        <option  value="JSS 3">JSS3</option>
                                        <option  value="BASIC 1">BASIC 1</option>
                                        <option  value="BASIC 2">BASIC 2</option>
                                        <option  value="BASIC 3">BASIC 3</option>
                                        <option  value="BASIC 4">BASIC 4</option>
                                        <option  value="BASIC 5">BASIC 5</option>
                                        <option  value="BASIC 6">BASIC 6</option>
                                        <option  value="NURSERY 1">NURSERY 1</option>
                                        <option  value="NURSERY 2">NURSERY 2</option>
                                        <option  value="NURSERY 3">NURSERY 3</option>
                                        <option  value="PRE NURSERY">PRE-NURSERY</option>
                                    </select>
                                
                                    <select id="Sterm" name="term">
                                        <option value="">SELECT TERM</option>
                                        <option value="FIRST TERM">FIRST TERM</option>
                                        <option value="SECOND TERM">SECOND TERM</option>
                                        <option value="THIRD TERM">THIRD TERM</option>
                                    </select>
                                </p>
                            <button class="button">View Result</button>
                        
                        </form>
                
                    </div>
                    <p id="respond" style="color:red; width:300px; margin:auto;"></p>
                    <div style="height:83.5px;"></div>
        </div>
        <%- include('./partials/footer.ejs') %>
        <script src="Java Script/main.js"></script>
    </body>
</html>