<!DOCTYPE hmtl>
<html>
<%- include('partials/schoolHead.ejs') %>

<body>
    <!--full screen display-->
    <div class="fullscreens"></div>

        <div class="top_line">

        </div>
        
        <div class="header">
           
            <span>
                
                <span class="school_logo">
                    
                    <img src="school_logo.png" type="image/png"/>
                    <span>
                        WHS
                    </span>
                    
                </span>
                
            </span>
            <div class="school_link">
                <a href="/myschool">HOME</a>
                <a href="#school_about">ABOUT</a>
                <a href="#news">NEWS</a>
                <a href="/">CHECK RESULT</a>
                
            </div>
            <div class="school_link2">
                <a><img src='whatsapp.png' type="image/png"/></a>
            
            </div>
               
        </div>
     <!--DROP DOWN MANU-->
        <div id="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
     <span class="droup_down_manu">
        <p>QUICK LINKS</p>
        <hr/>
        <a href="/myschool">HOME</a>
        <hr/>
        <a class="link" href="#school_about">ABOUT</a>
        <hr/>
        <a class="link" href="#news">NEWS</a>
        <hr/>
        <a href="/">CHECK RESULT</a>
        <hr/>
        <a href="/admin">UPLOAD STUDENT RESULT</a>
        <hr>
        <a href="/generateid">GENERATE STUDENT ID</a>
        <hr/>
        <a href="/studentid">GET STUDENT ID</a>
        <hr>
        <a href="/myschool">STUDENT PERFOMANCE</a>
        <hr/>
        <a href="">SCHOOL FEES</a>
        <hr>
        <a href="/logout">LOGOUT</a>
        <hr>
       
    </span>

    <div class="container">
        <section class="section1">
            <h2>Welcome to...!</h2>
        

            <div class="school_name">
                <div>
                    <p>
                        Wisdom High International School
                    </p>
                </div>
                
            </div>
              <!--uploading profile image-->
              <label class="profileImage" for="profileImage"><img src="IMAGE/more_image.png" alt="upload image"/></label>
             
                  <div class="upload-field">
                      <form action="" method="post">
                          <input type="file" id="profileImage" name="profileImage" /> 
                      </form>
                  </div>
             
            <div class="school_slonga">
                <p>
                    Wisdom High International School is a beacon of educational excellence, 
                    fostering a global perspective in its students. With a
                     commitment to holistic development,the school provides a dynamic learning 
                     environment, integrating innovation and tradition. 
                     Dedicated educators employ modern teaching methodologies
                    
                </p>
                
            </div>
        </section>
        <section class="section2">
                <div>
                    <img  src="IMAGE/image2.jpg" type="image/png" />
                    <img  src="IMAGE/see.jfif" type="image/png" />
                </div>
                <div class="image_display">
                    <img  src="IMAGE/OIP.jfif" type="image/png" />
                    <img  src="IMAGE/school lab.jpg" type="image/png" />
                </div>

                <!--Updating gallary-->
                <div>
                    <div class="upload-field">
                        <form action="" method="post">
                            <input type="file" id="moreImage" name="moreImage" /> 
                        </form>
                    </div>
                </div>
        </section>
        
    </div>
    <!--gallary image upload icon-->
    <label for="moreImage"><img src="IMAGE/more_image.png" class="upload-fieldImage" alt="upload image"/></label>
    <div class="galary"><button>View Gallary</button></div>
    <div class="gallaryDisplay">
        <div class="cancelGallary"></div>
    </div>
    <div class="space"></div>
    
    
        <div id="news">
            <div></div> 
            <input class="upload"></input> 
        </div>
   
    
    
        <div class="school_news">
      
        <div class="uploadform">
            <h2>Create post</h2>
            <form action="myschool" method="post">
                <div class="cancel">X</div>
                <p><input type="text" placeholder="Title" required name="title" id="uploadTitle"/></p>
                <p><textarea placeholder="content" name="content"></textarea></p>
                <p><label for="imageUpload"><img src="IMAGE/more_image.png" /></label><input type="file" id="imageUpload" name="image" style="display:none;" accept="image"/> </p>
                <div class="preview"></div>
                <p><button>Upload</button></p>
            </form>
        </div>
        
        <div class="school_news_container">            
                <div class="news_content">
                    <img src="IMAGE/addmission2.jfif" type="image/png" class="news_image"/>
                    <h3>ADMISSION 2022/2023</h3>
                    <p>
                        Admissions are now open for the upcoming academic year, offering a 
                        chance for eager learners to join the community. Aspiring students can 
                        find detailed admission procedures, requirements, and important dates by 
                        contacting the admissions office directly. Admissions are open for the 
                        following classes:
                       <P><b>SS1 SS2 SS3</b></p>
                    </p>
                </div>
        </div>
        <div class="school_news_container">
            <div class="news_content">
                <img src="IMAGE/addmission.jfif" type="image/jfif" class="news_image"/>
                <h3>NEATNESS AND PUNCTUALITY</h3>
                <p>
                    Neatness and punctuality are crucial values, and our school maintains a strict policy against 
                    tardiness. We prioritize being tidy and arriving promptly to class. Our institution does not 
                    tolerate late arrivals, as it disrupts the learning environment and sets a negative precedent. 
                    Therefore, it is imperative for all students to adhere to the standards of cleanliness and 
                    punctuality, ensuring a conducive atmosphere for academic growth.
                </p>
               
            </div>
    </div>
    </div>
   <footer class="school_footer">
    <div style="margin:20px;" id="school_about"><h2>ABOUT WISDOM HIGH SCHOOL INTERNATIONAL</h2></div>
        <div>
            <div class="footer-image">
                <img src="IMAGE/image1.jfif" type="image/png"/>
            </div>
            <div class="footer_about">
                <p>
                    Wisdom High International School is a beacon of educational excellence, 
                    fostering a global perspective in its students.<br/> With a commitment to holistic 
                    development, the school provides a dynamic learning environment, integrating 
                    innovation and tradition. <br/>Dedicated educators employ modern teaching methodologies, 
                    nurturing students to become well-rounded individuals. State-of-the-art facilities
                     and a diverse curriculum enhance academic and extracurricular pursuits.
                </p>
                
            </div>
            <div class="contact">
               
                <p><img src="IMAGE/location.png" type="image/png"/>Address: No14, Aburimen Street Off Obazee Road, Benin City, Edo State</p>
                <p><img src="IMAGE/call.png" type="image/png" alt="call"/> 07068291163</p>
                <P></P>
            </div>
        </div>
        <p style="color:white; text-align:center; margin-top:50px;">website built by Cristal tech || &copy; My School Simplify all right reserved </p>
   </footer>
   <script src="/Java Script/myschool.js"></script>
</body>

</html>