<!DOCTYPE hmtl>
<html>
<%- include('partials/head.ejs') %>

<body>
   
        <div class="top_line">

        </div>
        <div class="header">
            <span>
                <span class="school_logo">
                    <img src="school_logo.png" type="image/png"/>
                    <span>
                        WHS
                    </span>
                    
                </span>
                
            </span>
            <div class="school_link">
                <a href="/myschool">HOME</a>
                <a href="#school_about">ABOUT</a>
                <a href="#news">NEWS</a>
                <a href="/">CHECK RESULT</a>
            </div>
            <div class="school_link2">
                <a><img src='whatsapp.png' type="image/png"/></a>
            
            </div>
               
        </div>
     <!--DROP DOWN MANU-->
     <span class="droup_down_manu">
        <a href="/myschool">HOME</a>
        <a href="#school_about">ABOUT</a>
        <a href="#news">NEWS</a>
        <a href="/">CHECK RESULT</a>
        <div class="school_link2">
            <a><img src='whatsapp.png' type="image/png"/></a>
        
        </div>
    </span>

    <div class="container">
        <section class="section1">
            <h2>Welcome...!</h2>
            <div class="school_name">
                <p>
                    Wisdom High International School
                </p>
            </div>
            <div class="school_slonga">
                <p>
                    Wisdom High International School is a beacon of educational excellence, 
                    fostering a global perspective in its students. With a
                     commitment to holistic development,the school provides a dynamic learning 
                     environment, integrating innovation and tradition. 
                     Dedicated educators employ modern teaching methodologies, 
                     nurturing students to become well-rounded individuals. 
                     State-of-the-art facilities and a diverse curriculum 
                     enhance academic and extracurricular pursuits. 
                     Wisdom High International School empowers students 
                     with the wisdom to navigate a rapidly changing world, 
                     instilling values that transcend borders and cultures.
                </p>
            </div>
        </section>
        <section class="section2">
                <div>
                    <img src="IMAGE/image2.jpg" type="image/png" />
                    <img src="IMAGE/see.jfif" type="image/png" />
                </div>
                <div class="image_display">
                    <img src="IMAGE/OIP.jfif" type="image/png" />
                    <img src="IMAGE/school lab.jpg" type="image/png" />
                </div>
        </section>
       
    </div>
    <div class="school_news">
        <div style="margin:10px 0px;" id="news"><h2>NEWS </h2></div>
        <div class="school_news_container">
                <img src="IMAGE/addmission2.jfif" type="image/png" class="news_image"/>
                <div class="news_content">
                    <p>ADMISSION</p>
                    <p>
                        Admissions are now open for the upcoming academic year, offering a 
                        chance for eager learners to join the community. Aspiring students can 
                        find detailed admission procedures, requirements, and important dates by 
                        contacting the admissions office directly. Admissions are open for the 
                        following classes:
                    </p>
                </div>
        </div>
        <div class="school_news_container">
            <img src="IMAGE/addmission.jfif" type="image/jfif" class="news_image"/>
            <div class="news_content">
                <p>ADMISSION</p>
                <p>
                    Admissions are now open for the upcoming academic year, offering a 
                    chance for eager learners to join the community. Aspiring students can 
                    find detailed admission procedures, requirements, and important dates by 
                    contacting the admissions office directly. Admissions are open for the 
                    following classes:
                </p>
            </div>
    </div>
    </div>
   <footer class="school_footer">
    <div style="margin:20px;" id="school_about"><h2>ABOUT WISDOM HIGH SCHOOL INTERNATIONAL</h2></div>
        <div>
            <div class="footer-image">
                <img src="IMAGE/image1.jfif" type="image/png"/>
            </div>
            <div class="footer_about">
                <p>
                    Wisdom High International School is a beacon of educational excellence, 
                    fostering a global perspective in its students. With a commitment to holistic 
                    development, the school provides a dynamic learning environment, integrating 
                    innovation and tradition. Dedicated educators employ modern teaching methodologies, 
                    nurturing students to become well-rounded individuals. State-of-the-art facilities
                     and a diverse curriculum enhance academic and extracurricular pursuits.
                </p>
            </div>
        </div>
        <p style="color:white; text-align:center; margin-top:50px;">website built by Cristal tech || &copy; My School Simplify all right reserved </p>
   </footer>
</body>
</html>