<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Nursery School Result Upload</title>
    <Link rel="stylesheet" href="styles/style.css" />
    
</head>
<body>
    <header>
        <nav>
            <a href="./admin">Back to Admin</a>
        </nav>
    </header>
    <div class="platform">
        <h2>NURSERY SCHOOL FORM</h2>
    </div>
    <div class="upload_result">
        <form action="nursery" method="post" onsubmit="return check();">
            <fieldset class="studentInfo">
                <legend>STUDENT INFO:</legend>
                <div class="student-info-grid">
                    <input type="text" placeholder="First Name Middle Name Last Name" name="userName" id="userName" required />
                    <input type="text"  placeholder="ID eg JGE3853HTE" readonly name="studentId" id="studentId" required />
                    <button type="button" style="width:100px; font-size:14px;" onclick="student()">Get ID</button>
                </div>
                <div class="term-class-grid">
                    <label>CLASS</label>
                    <select name="class" id="Sclass" required>
                        <option value="" disabled selected>Select Class</option>
                        <option value="PRE NURSERY">PRE NURSERY</option>
                        <option value="NURSERY 1">NURSERY 1</option>
                        <option value="NURSERY 2">NURSERY 2</option>
                        <option value="NURSERY 3">NURSERY 3</option>
                    </select>
                    <label>SCHOOL TERM</label>
                    <select id="Sterm" name="term" required>
                        <option value="" disabled selected>Select Term</option>
                        <option value="FIRST TERM">FIRST TERM</option>
                        <option value="SECOND TERM">SECOND TERM</option>
                        <option value="THIRD TERM">THIRD TERM</option>
                    </select>
                </div>
            </fieldset>

            <fieldset>
                <legend>RESULT INFO:</legend>
                <!-- Literacy -->
                <div class="subject-row">
                    <input type="text" value="Literacy" id="eng" name="eng" readonly />
                    <input type="number" placeholder="1st Test" name="eng1st" id="eng1st" oninput="calculateSubject('eng')" />
                    <input type="number" placeholder="2nd Test" name="eng2nd" id="eng2nd" oninput="calculateSubject('eng')" />
                    <input type="number" id="engca" name="engca" placeholder="CCA" oninput="calculateSubject('eng')" />
                    <input type="number" placeholder="Exam" name="engexam" id="engexam" oninput="calculateSubject('eng')" />
                    <input type="number" placeholder="TOTAL SCORE" name="engscore" id="engscore" readonly />
                    <input type="text" placeholder="GRADE" name="engG" id="engG" readonly />
                    <input type="text" name="engRemark" id="engRemark" placeholder="Remark" readonly />
                </div>
                <!-- Numeracy -->
                <div class="subject-row">
                    <input type="text" value="Numeracy" id="mth" name="mth" readonly />
                    <input type="number" placeholder="1st Test" name="mth1st" id="mth1st" oninput="calculateSubject('mth')" />
                    <input type="number" placeholder="2nd Test" name="mth2nd" id="mth2nd" oninput="calculateSubject('mth')" />
                    <input type="number" id="mthca" name="mthca" placeholder="CCA" oninput="calculateSubject('mth')" />
                    <input type="number" placeholder="Exam" name="mthexam" id="mthexam" oninput="calculateSubject('mth')" />
                    <input type="number" placeholder="TOTAL SCORE" name="mthscore" id="mthscore" readonly />
                    <input type="text" placeholder="GRADE" name="mthG" id="mthG" readonly />
                    <input type="text" name="mthRemark" id="mthRemark" placeholder="Remark" readonly />
                </div>
                <!-- Christian Religion Studies -->
                <div class="subject-row">
                    <input type="text" value="Christian Religion Studies" id="rnv" name="rnv" readonly />
                    <input type="number" placeholder="1st Test" name="rnv1st" id="rnv1st" oninput="calculateSubject('rnv')" />
                    <input type="number" placeholder="2nd Test" name="rnv2nd" id="rnv2nd" oninput="calculateSubject('rnv')" />
                    <input type="number" id="rnvca" name="rnvca" placeholder="CCA" oninput="calculateSubject('rnv')" />
                    <input type="number" placeholder="Exam" name="rnvexam" id="rnvexam" oninput="calculateSubject('rnv')" />
                    <input type="number" placeholder="TOTAL SCORE" name="rnvscore" id="rnvscore" readonly />
                    <input type="text" placeholder="GRADE" name="rnvG" id="rnvG" readonly />
                    <input type="text" name="rnvRemark" id="rnvRemark" placeholder="Remark" readonly />
                </div>
                <!-- Pre Science -->
                <div class="subject-row">
                    <input type="text" value="Pre Science" id="bst" name="bst" readonly />
                    <input type="number" placeholder="1st Test" name="bst1st" id="bst1st" oninput="calculateSubject('bst')" />
                    <input type="number" placeholder="2nd Test" name="bst2nd" id="bst2nd" oninput="calculateSubject('bst')" />
                    <input type="number" id="bstca" name="bstca" placeholder="CCA" oninput="calculateSubject('bst')" />
                    <input type="number" placeholder="Exam" name="bstexam" id="bstexam" oninput="calculateSubject('bst')" />
                    <input type="number" placeholder="TOTAL SCORE" name="bstscore" id="bstscore" readonly />
                    <input type="text" placeholder="GRADE" name="bstG" id="bstG" readonly />
                    <input type="text" name="bstRemark" id="bstRemark" placeholder="Remark" readonly />
                </div>
                <!-- Personal Social and Emotional Development -->
               
                <!-- Rhymes -->
                <div class="subject-row">
                    <input type="text" value="Rhymes" id="qur" name="qur" readonly />
                    <input type="number" placeholder="1st Test" name="qur1st" id="qur1st" oninput="calculateSubject('qur')" />
                    <input type="number" placeholder="2nd Test" name="qur2nd" id="qur2nd" oninput="calculateSubject('qur')" />
                    <input type="number" id="qurca" name="qurca" placeholder="CCA" oninput="calculateSubject('qur')" />
                    <input type="number" placeholder="Exam" name="qurexam" id="qurexam" oninput="calculateSubject('qur')" />
                    <input type="number" placeholder="TOTAL SCORE" name="qurscore" id="qurscore" readonly />
                    <input type="text" placeholder="GRADE" name="qurG" id="qurG" readonly />
                    <input type="text" name="qurRemark" id="qurRemark" placeholder="Remark" readonly />
                </div>
              
                <!-- Cultural and Creative Art -->
                <div class="subject-row">
                    <input type="text" value="Cultural and Creative Art" name="cra" id="cra" readonly />
                    <input type="number" placeholder="1st Test" name="cra1st" id="cra1st" oninput="calculateSubject('cra')" />
                    <input type="number" placeholder="2nd Test" name="cra2nd" id="cra2nd" oninput="calculateSubject('cra')" />
                    <input type="number" id="craca" name="craca" placeholder="CCA" oninput="calculateSubject('cra')" />
                    <input type="number" placeholder="Exam" name="craexam" id="craexam" oninput="calculateSubject('cra')" />
                    <input type="number" placeholder="TOTAL SCORE" name="crascore" id="crascore" readonly />
                    <input type="text" placeholder="GRADE" name="craG" id="craG" readonly />
                    <input type="text" name="craRemark" id="craRemark" placeholder="Remark" readonly />
                </div>
                <!-- Speech Science -->
                <div class="subject-row">
                    <input type="text" value="Speech Science" id="ver" name="ver" readonly />
                    <input type="number" placeholder="1st Test" name="ver1st" id="ver1st" oninput="calculateSubject('ver')" />
                    <input type="number" placeholder="2nd Test" name="ver2nd" id="ver2nd" oninput="calculateSubject('ver')" />
                    <input type="number" id="verca" name="verca" placeholder="CCA" oninput="calculateSubject('ver')" />
                    <input type="number" placeholder="Exam" name="verexam" id="verexam" oninput="calculateSubject('ver')" />
                    <input type="number" placeholder="TOTAL SCORE" name="verscore" id="verscore" readonly />
                    <input type="text" placeholder="GRADE" name="verG" id="verG" readonly />
                    <input type="text" name="verRemark" id="verRemark" placeholder="Remark" readonly />
                </div>
                <!-- Practical Life -->
                <div class="subject-row">
                    <input type="text" value="Practical Life" id="plf" name="plf" readonly />
                    <input type="number" placeholder="1st Test" name="plf1st" id="plf1st" oninput="calculateSubject('plf')" />
                    <input type="number" placeholder="2nd Test" name="plf2nd" id="plf2nd" oninput="calculateSubject('plf')" />
                    <input type="number" id="plfca" name="plfca" placeholder="CCA" oninput="calculateSubject('plf')" />
                    <input type="number" placeholder="Exam" name="plfexam" id="plfexam" oninput="calculateSubject('plf')" />
                    <input type="number" placeholder="TOTAL SCORE" name="plfscore" id="plfscore" readonly />
                    <input type="text" placeholder="GRADE" name="plfG" id="plfG" readonly />
                    <input type="text" name="plfRemark" id="plfRemark" placeholder="Remark" readonly />
                </div>
                <div class="subject-row">
                        <input type="text" value="Cultural Subject" id="vrn" name="vrn" readonly />
                        <input type="number" placeholder="1st Test" name="vrn1st" id="vrn1st" oninput="calculateSubject('vrn')" />
                        <input type="number" placeholder="2nd Test" name="vrn2nd" id="vrn2nd" oninput="calculateSubject('vrn')" />
                        <input type="number" id="vrnca" name="vrnca" placeholder="CCA" oninput="calculateSubject('vrn')" />
                        <input type="number" placeholder="Exam" name="vrnexam" id="vrnexam" oninput="calculateSubject('vrn')" />
                        <input type="number" placeholder="TOTAL SCORE" name="vrnscore" id="vrnscore" readonly />
                        <input type="text" placeholder="GRADE" name="vrnG" id="vrnG" readonly />
                        <input type="text" name="vrnRemark" id="vrnRemark" placeholder="Remark" readonly />
                      <!-- Handwriting -->
                    </div> <div class="subject-row">
                        <input type="text" value="Handwriting" id="vst" name="vst" readonly />
                        <input type="number" placeholder="1st Test" name="vst1st" id="vst1st" oninput="calculateSubject('vst')" />
                        <input type="number" placeholder="2nd Test" name="vst2nd" id="vst2nd" oninput="calculateSubject('vst')" />
                        <input type="number" id="vstca" name="vstca" placeholder="CCA" oninput="calculateSubject('vst')" />
                        <input type="number" placeholder="Exam" name="vstexam" id="vstexam" oninput="calculateSubject('vst')" />
                        <input type="number" placeholder="TOTAL SCORE" name="vstscore" id="vstscore" readonly />
                        <input type="text" placeholder="GRADE" name="vstG" id="vstG" readonly />
                        <input type="text" name="vstRemark" id="vstRemark" placeholder="Remark" readonly />
                    </div>

                <div class="subject-row">
                    <input type="text" value="Quantitative Reasoning" name="pvs" id="pvs" readonly />
                    <input type="number" placeholder="1st Test" name="pvs1st" id="pvs1st" oninput="calculateSubject('pvs')" />
                    <input type="number" placeholder="2nd Test" name="pvs2nd" id="pvs2nd" oninput="calculateSubject('pvs')" />
                    <input type="number" id="pvsca" name="pvsca" placeholder="CCA" oninput="calculateSubject('pvs')" />
                    <input type="number" placeholder="Exam" name="pvsexam" id="pvsexam" oninput="calculateSubject('pvs')" />
                    <input type="number" placeholder="TOTAL SCORE" name="pvsscore" id="pvsscore" readonly />
                    <input type="text" placeholder="GRADE" name="pvsG" id="pvsG" readonly />
                    <input type="text" name="pvsRemark" id="pvsRemark" placeholder="Remark" readonly />
                </div>               
                                <!-- Verbal Reasoning -->  
                    <div class="subject-row">
                        <input type="text" value="Verbal Reasoning"  id="crs" readonly name="crs" />
                        <input type="number" placeholder="1st Test" name="crs1st" id="crs1st" oninput="calculateSubject('crs')" />
                        <input type="number" placeholder="2nd Test" name="crs2nd" id="crs2nd" oninput="calculateSubject('crs')" />
                        <input type="number" id="crsca" name="crsca" placeholder="CCA" oninput="calculateSubject('crs')" />
                        <input type="number" placeholder="Exam" name="crsexam" id="crsexam" oninput="calculateSubject('crs')" />
                        <input type="number" placeholder="TOTAL SCORE" name="crsscore" id="crsscore" readonly />
                        <input type="text" placeholder="GRADE" name="crsG" id="crsG" readonly />
                        <input type="text" name="crsRemark" id="crsRemark" placeholder="Remark" readonly />
                    </div>

                <div class="extra" style="display: none;">  
                  <!-- â Computer Science -->
                    <div class="subject-row">
                        <input type="text" value="Computer Science"  id="cst" readonly name="cst" />
                        <input type="number" placeholder="1st Test" name="cst1st" id="cst1st" oninput="calculateSubject('cst')" />
                        <input type="number" placeholder="2nd Test" name="cst2nd" id="cst2nd" oninput="calculateSubject('cst')" />
                        <input type="number" id="cstca" name="cstca" placeholder="CCA" oninput="calculateSubject('cst')" />
                        <input type="number" placeholder="Exam" name="cstexam" id="cstexam" oninput="calculateSubject('cst')" />
                        <input type="number" placeholder="TOTAL SCORE" name="cstscore" id="cstscore" readonly />
                        <input type="text" placeholder="GRADE" name="cstG" id="cstG" readonly />
                        <input type="text" name="cstRemark" id="cstRemark" placeholder="Remark" readonly />
                    </div>
                    <!-- Sensorial -->
                    <div class="subject-row">
                        <input type="text" value="Sensorial"  id="sen" readonly name="sen" />
                        <input type="number" placeholder="1st Test" name="sen1st" id="sen1st" oninput="calculateSubject('sen')" />
                        <input type="number" placeholder="2nd Test" name="sen2nd" id="sen2nd" oninput="calculateSubject('sen')" />
                        <input type="number" id="senca" name="senca" placeholder="CCA" oninput="calculateSubject('sen')" />
                        <input type="number" placeholder="Exam" name="senexam" id="senexam" oninput="calculateSubject('sen')" />
                        <input type="number" placeholder="TOTAL SCORE" name="senscore" id="senscore" readonly />
                        <input type="text" placeholder="GRADE" name="senG" id="senG" readonly />
                        <input type="text" name="senRemark" id="senRemark" placeholder="Remark" readonly />
                    </div>
                </div>
 
                
               
            </fieldset>
            <fieldset>
                <legend>STUDENT PERFORMANCE:</legend>
                <div class="performance-grid">
                    <div>
                        <label>No. of subjects offered:</label>
                        <input type="number" placeholder="No. of subjects offered" id="No_subj" name="No_subj" readonly />
                    </div>
                    <div>
                        <label>Average score:</label>
                        <input type="number" placeholder="Average score" id="average" name="average" required readonly />
                    </div>
                    <div>
                        <label>Score obtainable:</label>
                        <input type="number" placeholder="Score obtainable" id="score_obtainable" name="score_obtainable" readonly />
                    </div>
                    <div>
                        <label>Total score obtained:</label>
                        <input type="number" id="score_obtain" placeholder="Total score obtained" name="score_obtain" readonly />
                    </div>
                    <button type="button" style="width:150px; font-size:14px;" id="Calc">Compute Scores</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>OTHER INFORMATION</legend>
                <div class="other-info-grid">
                    <select name="section" id="section" required>
                        <option value="">Academic Section</option>
                        <option value="2023 - 2024">2023 - 2024</option>
                        <option value="2024 - 2025">2024 - 2025</option>
                        <option value="2025 - 2026"  selected>2025 - 2026</option>
                        <option value="2026 - 2027">2026 - 2027</option>
                    </select>
                    <input type="number" placeholder="Times present" name="present" />
                    <input type="number" placeholder="Times absent" name="absent" />
                    <input type="text" placeholder="Class Teacher Report" id="tReport" name="tReport" style="width:100%;" />
                    <input type="text" placeholder="Head Teacher Report" name="Treport" id="Treport" style="width:100%;" readonly />
                    <input type="text" placeholder="Next term resume" name="nextterm" value="12th Jan, 2026" />
                    <select id="promotedto" name="promote">
                        <option value="">Promoted to</option>
                        <option value="NURSERY 2">NURSERY 2</option>
                        <option value="NURSERY 3">NURSERY 3</option>
                        <option value="BASIC 1">BASIC 1</option>
                    </select>
                    <input type="text" placeholder="Outstanding fees" name="fees" />
                </div>
            </fieldset>
            <fieldset class="schoolInfo">
                <legend>School Info:</legend>
                <button type="submit">Upload Result</button>
            </fieldset>
            <p id="upload" style="color:red;"></p>
        </form>
    </div>
    <%- include('./partials/popup') %>
    <script src="js/nursery_score.js"></script>
    <!-- <script src="../studentId.js"></script> -->
    <script src="js/fetch.js"></script>
    <script src="js/upDateStudentClass.js"></script>
    <script src="js/nurserySubject.js"></script>
    <script src="js/isResultUploaded.js"></script>
</body>
</html>