<!DOCTYPE html>
<html leng="en">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="styles/index.css">
    <body>
        <%-include('partials/header2') %>
       <h1>404 </h1>
    <h2>PAGE NOT FOUND</h2>
    <%-include('partials/footer') %>
    </body>
</html>