<!DOCTYPE html>
<html lang="em">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="add_form">
            <form action="/passport" method="post" enctype="multipart/form-data">
                <!-- User Name Field -->
                <p><input type="text" id="userName" name="userName" placeholder="Last First Middle Name" required /></p>
                
                <!-- Student ID Field -->
                <p><input type="text" id="studentId" name="studentId" placeholder="Student ID" required /></p>
                
                <!-- Admission Number Field -->
                <p><input type="text" name="addmissionNo" id="addmissionNo" placeholder="Admission Number" /></p>
                
                <!-- Date of Birth Field -->
                <p><input type="date" name="dob" id="dob" placeholder="Date of Birth" /></p>
                
                <!-- Gender Selection -->
                <div class="gender">
                    <p>
                        <label for="male">MALE</label>
                        <input type="radio" value="MALE" name="gender" id="male" />
                    </p>
                    <p>
                        <label for="female">FEMALE</label>
                        <input type="radio" value="FEMALE" name="gender" id="female" />
                    </p>
                </div>
                 <!-- Passport File Upload -->
                <p><input type="file" name="passport" id="passport" required/></p>    
                
                <!-- Submit Button -->
                <button type="submit">Upload Passport</button>
            </form>
            
        </div> 
      
    </body>
   <script src="main.js"></script>




</html>
