<!DOCTYPE html>

<html>
    <head>
        <title>Admin page</title>
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link rel="stylesheet" type="text/css" href="style/input.css">
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="./">Home</a></li>
              </ul>
            </nav>
        </header>
          <h2>FORM FOR PRIMARY SCHOOL</h2>
            <div class="upload_result"> 
            <form action="primary" method="post" onsubmit="return check();">
                <fieldset>
                    <legend>RESULT INFO:</legend>
                    <p><input type="text" value="English Language" name="eng" id="eng"/><input type="text" placeholder="1st Text" name="eng1st" id="eng1st"/><input type="text" placeholder="2st Text" name="eng2nd" id="eng2nd"/><input type="text" id="engca" name="engca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="engexam" id="engexam"/><input type="text" placeholder="TOTAL SCORE" name="engscore" id="engscore"/><input type="text" placeholder="GRADE" name="engG" id="engG"/><input type="text" name="engRemark" id="engRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Mathematics" name="mth" id="mth"/><input type="text" placeholder="1st Text" name="mth1st"  id="mth1st"/><input type="text" placeholder="2st Text" name="mth2nd" id="mth2nd" /><input type="text" id="mthca" name="mthca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="mthexam" id="mthexam"/><input type="text" placeholder="TOTAL SCORE" name="mthscore" id="mthscore"/><input type="text" placeholder="GRADE" name="mthG" id="mthG"/><input type="text" name="mthRemark" id="mthRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Christian Religion Studies" name="rnv" id="rnv"/><input type="text" placeholder="1st Text" name="rnv1st" id="rnv1st"/><input type="text" placeholder="2st Text" name="rnv2nd" id="rnv2nd"/><input type="text" id="rnvca" name="rnvca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="rnvexam" id="rnvexam"/><input type="text" placeholder="TOTAL SCORE" name="rnvscore" id="rnvscore"/><input type="text" placeholder="GRADE" name="rnvG" id="rnvG"/><input type="text" name="rnvRemark" id="rnvRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Basic Science & Technology" name="bst" id="bst" /><input type="text" placeholder="1st Text" name="bst1st" id="bst1st"/><input type="text" placeholder="2st Text" name="bst2nd" id="bst2nd"/><input type="text" id="bstca" name="bstca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="bstexam" id="bstexam"/><input type="text" placeholder="TOTAL SCORE" name="bstscore" id="bstscore"/><input type="text" placeholder="GRADE" name="bstG" id="bstG"/><input type="text" name="bstRemark" id="bstRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Edo Language" name="pvs" id="pvs"/><input type="text" placeholder="1st Text" name="pvs1st" id="pvs1st"/><input type="text" placeholder="2st Text" name="pvs2nd" id="pvs2nd"/><input type="text" id="pvsca" name="pvsca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="pvsexam" id="pvsexam"/><input type="text" placeholder="TOTAL SCORE" name="pvsscore" id="pvsscore"/><input type="text" placeholder="GRADE" name="pvsG" id="pvsG"/><input type="text" name="pvsRemark" id="pvsRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Quantitative Reasoning" name="qur" id="qur"/><input type="text" placeholder="1st Text" name="qur1st" id="qur1st"/><input type="text" placeholder="2st Text" name="qur2nd" id="qur2nd"/><input type="text" id="qurca" name="qurca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="qurexam" id="qurexam"/><input type="text" placeholder="TOTAL SCORE" name="qurscore" id="qurscore"/><input type="text" placeholder="GRADE" name="qurG" id="qurG"/><input type="text" name="qurRemark" id="qurRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Verbal Aptitude" name="ver" id="ver"/><input type="text" placeholder="1st Text" name="ver1st" id="ver1st"/><input type="text" placeholder="2st Text" name="ver2nd" id="ver2nd"/><input type="text" id="verca" name="verca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="verexam" id="verexam"/><input type="text" placeholder="TOTAL SCORE" name="verscore" id="verscore"/><input type="text" placeholder="GRADE" name="verG" id="verG"/><input type="text" name="verRemark" id="verRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Pre Vocational Study" name="pvd" id="pvd"/><input type="text" placeholder="1st Text" name="pvd1st" id="pvd1st"/><input type="text" placeholder="2st Text" name="pvd2nd" id="pvd2nd"/><input type="text" id="pvdca" name="pvdca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="pvdexam" id="pvdexam"/><input type="text" placeholder="TOTAL SCORE" name="pvdscore" id="pvdscore"/><input type="text" placeholder="GRADE" name="pvdG" id="pvdG"/><input type="text" name="pvdRemark" id="pvdRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Numerical Aptitude" name="vst" id="vst"/><input type="text" placeholder="1st Text" name="vst1st" id="vst1st"/><input type="text" placeholder="2st Text" name="vst2nd" id="vst2nd"/><input type="text" id="vstca" name="vstca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="vstexam" id="vstexam"/><input type="text" placeholder="TOTAL SCORE" name="vstscore" id="vstscore"/><input type="text" placeholder="GRADE" name="vstG" id="vstG"/><input type="text" name="vstRemark" id="vstRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Cultural & Creative Art" name="cra" id="cra"/><input type="text" placeholder="1st Text" name="cra1st" id="cra1st"/><input type="text" placeholder="2st Text" name="cra2nd" id="cra2nd"/><input type="text" id="craca" name="craca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="craexam" id="craexam"/><input type="text" placeholder="TOTAL SCORE" name="crascore" id="crascore"/><input type="text" placeholder="GRADE" name="craG" id="craG"/><input type="text" name="craRemark" id="craRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="National Value" name="spe" id="spe"/><input type="text" placeholder="1st Text" name="spe1st" id="spe1st"/><input type="text" placeholder="2st Text" name="spe2nd" id="spe2nd"/><input type="text" id="speca" name="speca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="speexam" id="speexam"/><input type="text" placeholder="TOTAL SCORE" name="spescore" id="spescore"/><input type="text" placeholder="GRADE" name="speG" id="speG"/><input type="text" name="speRemark" id="speRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Hand Writing" name="hwr" id="hwr"/><input type="text" placeholder="1st Text" name="hwr1st" id="hwr1st"/><input type="text" placeholder="2st Text" name="hwr2nd" id="hwr2nd"/><input type="text" id="hwrca" name="hwrca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="hwrexam" id="hwrexam"/><input type="text" placeholder="TOTAL SCORE" name="hwrscore" id="hwrscore"/><input type="text" placeholder="GRADE" name="hwrG" id="hwrG"/><input type="text" name="hwrRemark" id="hwrRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="Phonics(Speech Sci.)" name="mus" id="mus"/><input type="text" placeholder="1st Text" name="mus1st" id="mus1st"/><input type="text" placeholder="2st Text" name="mus2nd" id="mus2nd"/><input type="text" id="musca" name="musca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="musexam" id="musexam"/><input type="text" placeholder="TOTAL SCORE" name="musscore" id="musscore"/><input type="text" placeholder="GRADE" name="musG" id="musG"/><input type="text" name="musRemark" id="musRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="French Language" name="red" id="red"/><input type="text" placeholder="1st Text" name="red1st" id="red1st"/><input type="text" placeholder="2st Text" name="red2nd" id="red2nd"/><input type="text" id="redca" name="redca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="redexam" id="redexam"/><input type="text" placeholder="TOTAL SCORE" name="redscore" id="redscore"/><input type="text" placeholder="GRADE" name="redG" id="redG"/><input type="text" name="redRemark" id="redRemark"placeholder="Remark"/></p>
                    <p><input type="text" value="History" name="hst" id="hst"/><input type="text" placeholder="1st Text" name="hst1st" id="hst1st"/><input type="text" placeholder="2st Text" name="hst2nd" id="hst2nd"/><input type="text" id="hstca" name="hstca" placeholder="continuous accessment"/ ><input type="text" placeholder="Exam" name="hstexam" id="hstexam"/><input type="text" placeholder="TOTAL SCORE" name="hstscore" id="hstscore"/><input type="text" placeholder="GRADE" name="hstG" id="hstG"/><input type="text" name="hstRemark" id="hstRemark"placeholder="Remark"/></p>
                </fieldset>

                <fieldset class="studentInfo">
                    <legend>STUDENT INFO:</legend>
                    <p><input type="text" placeholder="First Name Middle Name Last Name" name="userName" id="userName" required="required" /><input type="text" Placeholder="Student ID" name="studentId" id="studentId" required="required"/></p>
                    <p><button style="width:100px; font-size:14px;" id="GenerateId" >Generate ID</button><button style="width:100px; font-size:14px;" onclick="student()" >Get ID</button></p>
                    <input type="text" placeholder="No. subj offfer" id="No_subj" name="No_subj" /><input type="text" placeholder="average score" id="average" name="average" required/>
                    <p><input type="text" placeholder="score obtainable" id="score_obtainable" name="score_obtainable"/> <input type="text" id="score_obtain" placeholder="total score obtain" name="score_obtain" /></p>
                    <button style="width:300px; font-size:14px;" id="Calc">compute student Scores</button> </p>
                    <p>
                        <p id="respond" style="color:red"></p>
                        <label>CLASS</label>:
                         <select name="class" id="Sclass">
                            <option></option>
                            <option value="BASIC 1">BASIC 1</option>
                            <option value="BASIC 2">BASIC 2</option>
                            <option value="BASIC 3">BASIC 3</option>
                            <option value="BASIC 4">BASIC 4</option>
                            <option value="BASIC 5">BASIC 5</option>
                            <option value="BASIC 6">BASIC 6</option>
                        </select>
                        <label>SCHOOL TERM</label>:
                        <select id="Sterm" name="term">
                            <option></option>
                            <option value="FIRST TERM">FIRST TERM</option>
                            <option value="SECOND TERM">SECNOND TERM</option>
                            <option value="THIRD TERM">THRID TERM</option>
                        </select>
                    </p>
                    
                </fieldset>
                <fieldset>
                    <legend>OHTER INFOMATION </legend>
                    <p>                    
                        <select name="section" required>
                        <option value="">Academic Section</option>
                        <option value="2023 - 2024">2023 - 2024</option>
                        <option value="2024 - 2025">2024 - 2025</option>
                        <option value="2025 - 2026">2025 - 2026</option>
                        <option value="2026 - 2027">2026 - 2027</option>
                    </select>
                    <input type="text" placeholder="times present" name="present" /><input type="text" placeholder="times absent" name="absent" /><input type="text" placeholder="Class Teacher Report" id="tReport" name="tReport" style="width:200px;"/><input type="text" placeholder="Head Teacher Report" name="Treport" id="Treport" style="width:200px"/><input type="text" placeholder="Next term resume" name="nextterm"/><input type="text" placeholder="Promoted to" name="promote" /><input type="text" placeholder="outstanding fees" name="fees"/></p>
                </fieldset>
                <fieldset class="schoolInfo">
                    <legend>School Info:</legend>
                    <p><input type="text" placeholder="School name" value="GOLDEN HILLS" name="schoolName"  id="schoolName" required/></p>
                    <p><input type="text" Placeholder="Address" name="schoolAdd" id="schoolAdd" required/></p>
                    
                <button>Upload Result</button>
                </fieldset>
                <p id="upload" style="color:red;"></p>
            </form>
        </div>
        <script src="Java Script/main.js"></script>
        <script src="primary_score.js"></script>
        <script src="../studentId.js"></script>
        <script src="Java Script/fetch.js"></script>
    </body>
</html>