<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="style/result_download.css" /> 
  <link rel="stylesheet" type="text/css" href="style/download_button.css"/>
</head>

<body>
  <!-- details.ejs -->
  <div style="height:20px;"></div>
  <div class="t_container" id="resultContainer">
      <div class="style">
        
        <div class="school_details">
          <div class="logo">
            
          </div>
          <div>
            <h1>
              NUEL VILLE ACADEMY
            </h1>
            <p>
              NO. 13, OBAS NUEL AVEN. OFF A. U ROAD, BY IDOKPA BYPASS
            </p>
            <h3 style="color:red">BASIC SCHOOL</h3>
            <p>
              <spad>Tel:077062035877 </spad>
            </p>
          </div>
          <div class="avatar">
            <p>ID: IHE2345INE</p>
          </div>
        </div>
        
        <div class="reportSheet">
          <div>
            <h3>STUDENT'S ACADEMIC REPORT/SHEET</h3>
          </div>
        </div>

        <br />
        <div class="top_info">
          <div>
            <p>Name: <b>ASEGAME SAMUEL OKORO</b> </p>
            <p>Class:<b>BASIC1</b> </p>
            <p>Term: <b>THIRD TERM</b></p>
          </div>
          <div>
            <p>Time Present: <b>68</b></p>
            <p>Total days absent: <b> 3</b></p>
            <p>Next term begins: <b>10TH JANUARY, 2025</b></p>
          </div>
          
        </div>
        <div class="table_design">
          <div class="table">
            <table>
              <tr>
                <th width="160">Subject</th>
                <th>1stTest [20%]</th>
                <th>2ndTest [20%]</th>
                <th>CA [10%]</th>
                <th>Exam [60%]</th>
                <th>Total [100%]</th>
                <th>Grade</th>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
               
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
              </tr>
              <tr>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
               
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                  
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
                <td>
                 
                </td>
              </tr>
            </table>
          </div>
          <div class="class_info">
            <div>
              <table style="font-size:10px; margin:0px;">
                <tr>
                  <th>
                    <h3>Skill & Behavior</h3>
                  </th>
                  <th>5</th>
                  <th>4</th>
                  <th>3</th>
                  <th>2</th>
                  <th>1</th>
                </tr>
                <tr>
                  <td>1. Attendance</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2. Attentiveness</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3. Honesty</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4. Initiative</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5. Neatness</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>6. Organization ability</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <tb></tb>
                </tr>
                <tr>
                  <td>7. Perseverance</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>8. Punctuality </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>9. Spirit of Cooperation</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>10. Self control</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div>
              <h4>KEYS TO SKILL & BEHAVIOR </h4>
              <P> 5....Excellent degree of observation </P>
              <P> 4....High level fo observation </P>
              <P> 3....Acceptable level of observation </P>
              <P> 2....Minimal level Observed </P>
              <P> 1....No level observed </P>
            </div>
            <div class="grade">
              <P> 80 - 100--A+ Distinction </P>
              <P> 70 - 79---A Excellent </P>
              <P> 60 - 69---B Very Good </P>
              <P> 50 - 59---C Credit </P>
              <p> 40 - 49---D Pass</p>
              
              <P> 0 -  39----F Fail</P>
            </div>
            <div>
            <!---- <h3 style="font-size:16px;">CLASS TEACHER'S NAME</h3> 
              <p>......................................................</p> -->
            </div>
          </div>
        </div>

        <h3>STUDENT PERFORMANCE ANALYSIS</h3>
        <div class="score_container">
          <div class="student_score">
            <div><h5>SUBJECT OFFERED</h5><h4>12</h4></div>
            <div><h5>SCORE OBTAINABLE</h5><h4>1200</h4></div>
            <div><h5>SCORE OBTAIN</h5><h4>950</h4></div>
            <div><h5>AVERAGE SCORE</h5><h4>72</h4></div>
          </div>

        </div>
      <div class="school_report">
        <p>Class Teacher’s Remark : <span style="color:red;">Good Performance promoted to BASIC 2</span></p>
        <hr/>
        <p>Head Teacher’s Sign .................... </p>
      </div>
    </div>
  </div>
  <div id="captureWrapper">
    <div id="resultContainer">
        <!-- Your content here -->
    </div>
</div>

  <div class="button"><button class="download" onclick="downloadResult()">Download Result</button></div>
  <div class="button"><button class="download" onclick="downloadResultAsJPG()">Download JPEG</button></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
  <!-- Your custom JavaScript code -->
  <script src="download.js"></script>
  <script src="Java Script/dwonloadJPEG.js"></script>
</body>

</html>