<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="add_form">
            <form action="studentId" method="post">
                    <p><input type="text" id="student_name" name="student_name"  placeholder="Last name, Fisrt name, Middle name" required/></p>
                    <p><input type="text" id="password" name="password" placeholder="Password" required/></p>
                    <select name="Sclass" id="Sclass">
                            <option value=""> STUDENT CLASS</option>
                            <option value="senior">Senior School</option>
                            <option value="junior">Junior School</option>
                            <option value="primary">Primary School</option>
                            <option value="nusery">Nusery School</option>
                    </select>
                    <select name="section" required>
                        <option value="">SCHOOL SECTION</option>
                        <option value="2015-2016">2015-2016</option>
                        <option value="2015-2016">2015-2016</option>
                        <option value="2015-2016">2015-2016</option>
                        <option value="2015-2016">2015-2016</option>
                        <option value="2015-2016">2015-2016</option>
                    </select>
                    <button>Get ID</button>
                
            </form>
        </div>
        
      
    </body>
   <script src="main.js"></script>




</html>
