<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Update Junior Result</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="./admin">Back to Admin</a>
        </nav>
    </header>
    <div class="platform">
        <h2>UPDATE JUNIOR RESULT</h2>
    </div>
    <div class="upload_result">
        <form onsubmit="return updateForm(event)" id="formUpdate">
            <fieldset class="studentInfo">
                <legend>STUDENT INFO:</legend>
                <div class="student-info-grid">
                    <input type="text" placeholder="First Name Middle Name Last Name" name="userName" id="userName" required />
                    <input type="text" placeholder="Student ID" name="studentId" id="studentId" required readonly />
                    <button type="button" style="width:100px; font-size:14px;" id="getDetails">Get Details</button>
                </div>
                <div id="respond" style="color:red; text-align: center; margin: 0.5rem 0;"></div>
                <div class="term-class-grid">
                    <label>CLASS</label>
                    <select id="Sclass" name="class" required>
                        <option value="" disabled selected>Select Class</option>
                        <option value="JSS 1">JSS 1</option>
                        <option value="JSS 2">JSS 2</option>
                        <option value="JSS 3">JSS 3</option>
                    </select>
                    <label>SCHOOL TERM</label>
                    <select id="Sterm" name="term" required>
                        <option value="" disabled selected>Select Term</option>
                        <option value="FIRST TERM">FIRST TERM</option>
                        <option value="SECOND TERM">SECOND TERM</option>
                        <option value="THIRD TERM">THIRD TERM</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend>RESULT INFO:</legend>
                <!-- English Language -->
                <div class="subject-row">
                    <input type="text" value="English Language" readonly />
                    <input type="number" placeholder="1st Test" name="eng1st" id="eng1st" oninput="calculateSubject('eng')" />
                    <input type="number" placeholder="2nd Test" name="eng2nd" id="eng2nd" oninput="calculateSubject('eng')" />
                    <input type="number" id="engca" name="engca" placeholder="CCA" oninput="calculateSubject('eng')" />
                    <input type="number" placeholder="Exam" name="engexam" id="engexam" oninput="calculateSubject('eng')" />
                    <input type="text" placeholder="TOTAL SCORE" name="engscore" id="engscore" readonly />
                    <input type="text" placeholder="GRADE" name="engG" id="engG" readonly />
                    <input type="text" placeholder="Remark" name="engRemark" id="engRemark" readonly />
                </div>
                <!-- Mathematics -->
                <div class="subject-row">
                    <input type="text" value="Mathematics" readonly />
                    <input type="number" placeholder="1st Test" name="mth1st" id="mth1st" oninput="calculateSubject('mth')" />
                    <input type="number" placeholder="2nd Test" name="mth2nd" id="mth2nd" oninput="calculateSubject('mth')" />
                    <input type="number" id="mthca" name="mthca" placeholder="CCA" oninput="calculateSubject('mth')" />
                    <input type="number" placeholder="Exam" name="mthexam" id="mthexam" oninput="calculateSubject('mth')" />
                    <input type="text" placeholder="TOTAL SCORE" name="mthscore" id="mthscore" readonly />
                    <input type="text" placeholder="GRADE" name="mthG" id="mthG" readonly />
                    <input type="text" placeholder="Remark" name="mthRemark" id="mthRemark" readonly />
                </div>
                <!-- Basic Science and Technology -->
                <div class="subject-row">
                    <input type="text" value="Basic Science and Technology" readonly />
                    <input type="number" placeholder="1st Test" name="bsc1st" id="bsc1st" oninput="calculateSubject('bsc')" />
                    <input type="number" placeholder="2nd Test" name="bsc2nd" id="bsc2nd" oninput="calculateSubject('bsc')" />
                    <input type="number" id="bscca" name="bscca" placeholder="CCA" oninput="calculateSubject('bsc')" />
                    <input type="number" placeholder="Exam" name="bscexam" id="bscexam" oninput="calculateSubject('bsc')" />
                    <input type="text" placeholder="TOTAL SCORE" name="bscscore" id="bscscore" readonly />
                    <input type="text" placeholder="GRADE" name="bscG" id="bscG" readonly />
                    <input type="text" placeholder="Remark" name="bscRemark" id="bscRemark" readonly />
                </div>
                <!-- History -->
                <div class="subject-row">
                    <input type="text" value="History" readonly />
                    <input type="number" placeholder="1st Test" name="btc1st" id="btc1st" oninput="calculateSubject('btc')" />
                    <input type="number" placeholder="2nd Test" name="btc2nd" id="btc2nd" oninput="calculateSubject('btc')" />
                    <input type="number" id="btcca" name="btcca" placeholder="CCA" oninput="calculateSubject('btc')" />
                    <input type="number" placeholder="Exam" name="btcexam" id="btcexam" oninput="calculateSubject('btc')" />
                    <input type="text" placeholder="TOTAL SCORE" name="btcscore" id="btcscore" readonly />
                    <input type="text" placeholder="GRADE" name="btcG" id="btcG" readonly />
                    <input type="text" placeholder="Remark" name="btcRemark" id="btcRemark" readonly />
                </div>
                <!-- Speech Science -->
                <div class="subject-row">
                    <input type="text" value="Speech Science" readonly />
                    <input type="number" placeholder="1st Test" name="ped1st" id="ped1st" oninput="calculateSubject('ped')" />
                    <input type="number" placeholder="2nd Test" name="ped2nd" id="ped2nd" oninput="calculateSubject('ped')" />
                    <input type="number" id="pedca" name="pedca" placeholder="CCA" oninput="calculateSubject('ped')" />
                    <input type="number" placeholder="Exam" name="pedexam" id="pedexam" oninput="calculateSubject('ped')" />
                    <input type="text" placeholder="TOTAL SCORE" name="pedscore" id="pedscore" readonly />
                    <input type="text" placeholder="GRADE" name="pedG" id="pedG" readonly />
                    <input type="text" placeholder="Remark" name="pedRemark" id="pedRemark" readonly />
                </div>
                <!-- Business Studies -->
                <div class="subject-row">
                    <input type="text" value="Business Studies" readonly />
                    <input type="number" placeholder="1st Test" name="bst1st" id="bst1st" oninput="calculateSubject('bst')" />
                    <input type="number" placeholder="2nd Test" name="bst2nd" id="bst2nd" oninput="calculateSubject('bst')" />
                    <input type="number" id="bstca" name="bstca" placeholder="CCA" oninput="calculateSubject('bst')" />
                    <input type="number" placeholder="Exam" name="bstexam" id="bstexam" oninput="calculateSubject('bst')" />
                    <input type="text" placeholder="TOTAL SCORE" name="bstscore" id="bstscore" readonly />
                    <input type="text" placeholder="GRADE" name="bstG" id="bstG" readonly />
                    <input type="text" placeholder="Remark" name="bstRemark" id="bstRemark" readonly />
                </div>
                <!-- French -->
                <div class="subject-row">
                    <input type="text" value="French" readonly />
                    <input type="number" placeholder="1st Test" name="fre1st" id="fre1st" oninput="calculateSubject('fre')" />
                    <input type="number" placeholder="2nd Test" name="fre2nd" id="fre2nd" oninput="calculateSubject('fre')" />
                    <input type="number" id="freca" name="freca" placeholder="CCA" oninput="calculateSubject('fre')" />
                    <input type="number" placeholder="Exam" name="freexam" id="freexam" oninput="calculateSubject('fre')" />
                    <input type="text" placeholder="TOTAL SCORE" name="frescore" id="frescore" readonly />
                    <input type="text" placeholder="GRADE" name="freG" id="freG" readonly />
                    <input type="text" placeholder="Remark" name="freRemark" id="freRemark" readonly />
                </div>
                <!-- National Value -->
                <div class="subject-row">
                    <input type="text" value="National Value" readonly />
                    <input type="number" placeholder="1st Test" name="agr1st" id="agr1st" oninput="calculateSubject('agr')" />
                    <input type="number" placeholder="2nd Test" name="agr2nd" id="agr2nd" oninput="calculateSubject('agr')" />
                    <input type="number" id="agrca" name="agrca" placeholder="CCA" oninput="calculateSubject('agr')" />
                    <input type="number" placeholder="Exam" name="agrexam" id="agrexam" oninput="calculateSubject('agr')" />
                    <input type="text" placeholder="TOTAL SCORE" name="agrscore" id="agrscore" readonly />
                    <input type="text" placeholder="GRADE" name="agrG" id="agrG" readonly />
                    <input type="text" placeholder="Remark" name="agrRemark" id="agrRemark" readonly />
                </div>
                <!-- Christian Religion Study -->
                <div class="subject-row">
                    <input type="text" value="Christian Religion Study" readonly />
                    <input type="number" placeholder="1st Test" name="crs1st" id="crs1st" oninput="calculateSubject('crs')" />
                    <input type="number" placeholder="2nd Test" name="crs2nd" id="crs2nd" oninput="calculateSubject('crs')" />
                    <input type="number" id="crsca" name="crsca" placeholder="CCA" oninput="calculateSubject('crs')" />
                    <input type="number" placeholder="Exam" name="crsexam" id="crsexam" oninput="calculateSubject('crs')" />
                    <input type="text" placeholder="TOTAL SCORE" name="crsscore" id="crsscore" readonly />
                    <input type="text" placeholder="GRADE" name="crsG" id="crsG" readonly />
                    <input type="text" placeholder="Remark" name="crsRemark" id="crsRemark" readonly />
                </div>
                <!-- Edo Language -->
                <div class="subject-row">
                    <input type="text" value="Edo Language" readonly />
                    <input type="number" placeholder="1st Test" name="hiy1st" id="hiy1st" oninput="calculateSubject('hiy')" />
                    <input type="number" placeholder="2nd Test" name="hiy2nd" id="hiy2nd" oninput="calculateSubject('hiy')" />
                    <input type="number" id="hiyca" name="hiyca" placeholder="CCA" oninput="calculateSubject('hiy')" />
                    <input type="number" placeholder="Exam" name="hiyexam" id="hiyexam" oninput="calculateSubject('hiy')" />
                    <input type="text" placeholder="TOTAL SCORE" name="hiyscore" id="hiyscore" readonly />
                    <input type="text" placeholder="GRADE" name="hiyG" id="hiyG" readonly />
                    <input type="text" placeholder="Remark" name="hiyRemark" id="hiyRemark" readonly />
                </div>
                <!-- Cultural and Creative Art -->
                <div class="subject-row">
                    <input type="text" value="Cultural and Creative Art" readonly />
                    <input type="number" placeholder="1st Test" name="cra1st" id="cra1st" oninput="calculateSubject('cra')" />
                    <input type="number" placeholder="2nd Test" name="cra2nd" id="cra2nd" oninput="calculateSubject('cra')" />
                    <input type="number" id="craca" name="craca" placeholder="CCA" oninput="calculateSubject('cra')" />
                    <input type="number" placeholder="Exam" name="craexam" id="craexam" oninput="calculateSubject('cra')" />
                    <input type="text" placeholder="TOTAL SCORE" name="crascore" id="crascore" readonly />
                    <input type="text" placeholder="GRADE" name="craG" id="craG" readonly />
                    <input type="text" placeholder="Remark" name="craRemark" id="craRemark" readonly />
                </div>
                <!-- Prevocational Studies -->
                <div class="subject-row">
                    <input type="text" value="Prevocational Studies" readonly />
                    <input type="number" placeholder="1st Test" name="csc1st" id="csc1st" oninput="calculateSubject('csc')" />
                    <input type="number" placeholder="2nd Test" name="csc2nd" id="csc2nd" oninput="calculateSubject('csc')" />
                    <input type="number" id="cscca" name="cscca" placeholder="CCA" oninput="calculateSubject('csc')" />
                    <input type="number" placeholder="Exam" name="cscexam" id="cscexam" oninput="calculateSubject('csc')" />
                    <input type="text" placeholder="TOTAL SCORE" name="cscscore" id="cscscore" readonly />
                    <input type="text" placeholder="GRADE" name="cscG" id="cscG" readonly />
                    <input type="text" placeholder="Remark" name="cscRemark" id="cscRemark" readonly />
                </div>
                <!-- Home Economics -->
                <div class="subject-row">
                    <input type="text" value="Home Economics" readonly />
                    <input type="number" placeholder="1st Test" name="hec1st" id="hec1st" oninput="calculateSubject('hec')" />
                    <input type="number" placeholder="2nd Test" name="hec2nd" id="hec2nd" oninput="calculateSubject('hec')" />
                    <input type="number" id="hecca" name="hecca" placeholder="CCA" oninput="calculateSubject('hec')" />
                    <input type="number" placeholder="Exam" name="hecexam" id="hecexam" oninput="calculateSubject('hec')" />
                    <input type="text" placeholder="TOTAL SCORE" name="hecscore" id="hecscore" readonly />
                    <input type="text" placeholder="GRADE" name="hecG" id="hecG" readonly />
                    <input type="text" placeholder="Remark" name="hecRemark" id="hecRemark" readonly />
                </div>
                <!-- Civic Education -->
                <div class="subject-row">
                    <input type="text" value="Civic Education" readonly />
                    <input type="number" placeholder="1st Test" name="ced1st" id="ced1st" oninput="calculateSubject('ced')" />
                    <input type="number" placeholder="2nd Test" name="ced2nd" id="ced2nd" oninput="calculateSubject('ced')" />
                    <input type="number" id="cedca" name="cedca" placeholder="CCA" oninput="calculateSubject('ced')" />
                    <input type="number" placeholder="Exam" name="cedexam" id="cedexam" oninput="calculateSubject('ced')" />
                    <input type="text" placeholder="TOTAL SCORE" name="cedscore" id="cedscore" readonly />
                    <input type="text" placeholder="GRADE" name="cedG" id="cedG" readonly />
                    <input type="text" placeholder="Remark" name="cedRemark" id="cedRemark" readonly />
                </div>
                <!-- CCA (Art) -->
                <div class="subject-row">
                    <input type="text" value="CCA" readonly />
                    <input type="number" placeholder="1st Test" name="art1st" id="art1st" oninput="calculateSubject('art')" />
                    <input type="number" placeholder="2nd Test" name="art2nd" id="art2nd" oninput="calculateSubject('art')" />
                    <input type="number" id="artca" name="artca" placeholder="CCA" oninput="calculateSubject('art')" />
                    <input type="number" placeholder="Exam" name="artexam" id="artexam" oninput="calculateSubject('art')" />
                    <input type="text" placeholder="TOTAL SCORE" name="artscore" id="artscore" readonly />
                    <input type="text" placeholder="GRADE" name="artG" id="artG" readonly />
                    <input type="text" placeholder="Remark" name="artRemark" id="artRemark" readonly />
                </div>
            </fieldset>
            <fieldset>
                <legend>STUDENT PERFORMANCE</legend>
                <div class="performance-grid">
                    <div>
                        <label>No. of subjects offered:</label>
                        <input type="text" placeholder="No. of subjects offered" id="No_subj" name="No_subj" readonly />
                    </div>
                    <div>
                        <label>Average score:</label>
                        <input type="text" placeholder="Average score" id="average" name="average" required readonly />
                    </div>
                    <div>
                        <label>Score obtainable:</label>
                        <input type="text" placeholder="Score obtainable" id="score_obtainable" name="score_obtainable" readonly />
                    </div>
                    <div>
                        <label>Total score obtained:</label>
                        <input type="text" id="score_obtain" placeholder="Total score obtained" name="score_obtain" readonly />
                    </div>
                    <button type="button" style="width:150px; font-size:14px;" id="Calc">Compute Scores</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>OTHER INFORMATION</legend>
                <div class="other-info-grid">
                    <select name="section" id="section" required>
                        <option value="" disabled selected>Academic Section</option>
                        <option value="2023 - 2024">2023 - 2024</option>
                        <option value="2024 - 2025" selected>2024 - 2025</option>
                        <option value="2025 - 2026">2025 - 2026</option>
                        <option value="2026 - 2027">2026 - 2027</option>
                    </select>
                    <input type="text" placeholder="Times present" name="present" id="present" />
                    <input type="text" placeholder="Times absent" name="absent" id="absent" />
                    <input type="text" placeholder="Class Teacher Report" id="tReport" name="tReport" />
                    <input type="text" placeholder="Head Teacher Report" name="Treport" id="Treport" readonly />
                    <input type="text" placeholder="Next term resume" name="nextterm" value="6th Jan, 2026" id="nextterm" />
                    <select id="promotedto" name="promote">
                        <option value="" disabled selected>Promoted to</option>
                        <option value="JSS 2">JSS 2</option>
                        <option value="JSS 3">JSS 3</option>
                        <option value="SS 1">SS 1</option>
                    </select>
                    <input type="text" placeholder="Outstanding fees" name="fees" id="fees" />
                </div>
            </fieldset>
            <fieldset class="schoolInfo">
                <legend>School Info:</legend>
                <button type="submit">Update Result</button>
            </fieldset>
            <p id="upload" style="color:red;"></p>
        </form>
    </div>

    <script>
        // Student selection popup logic (adapted for update)
        let studentId = document.getElementById('studentId');
        let user = document.getElementById('userName');
        let Sclass = document.getElementById('Sclass');
        let searchResults = [];
        let getDetailsBtn = document.getElementById('getDetails');

        function showLoading() {
            if (getDetailsBtn) {
                getDetailsBtn.innerHTML = '<span style="display: inline-flex; align-items: center; gap: 0.5rem;">Loading <div style="width: 12px; height: 12px; border: 2px solid #fff; border-top: 2px solid transparent; border-radius: 50%; animation: spin 1s linear infinite;"></div></span>';
                getDetailsBtn.disabled = true;
            }
        }

        function hideLoading() {
            if (getDetailsBtn) {
                getDetailsBtn.innerHTML = 'Get Details';
                getDetailsBtn.disabled = false;
            }
        }

        function populateStudent(data) {
            studentId.value = data.studentId;
            user.value = data.userName.toUpperCase();
            Sclass.value = data.class;
            // Fetch existing results
            fetchExistingResults(data.studentId);
        }

        async function fetchExistingResults(studentId) {
            try {
                const response = await fetch(`/get_junior_result?studentId=${studentId}&class=${Sclass.value}&term=${Sterm.value}`);
                const resultData = await response.json();
                if (resultData) {
                    // Populate fields (example; adjust to match backend structure)
                    // e.g., document.getElementById('eng1st').value = resultData.eng1st || '';
                  
                    alert('Existing results loaded. Edit as needed.');
                }
            } catch (err) {
                console.error('Error fetching results:', err);
                alert('Error loading existing results.');
            }
        }

        // ... (include showResultsList, selectStudent, closeResultsList from previous popup code)

        // Get Details click
        getDetailsBtn.addEventListener('click', async () => {
            let userName = user.value.trim();
            if (userName === '') {
                alert('Enter student name');
                return;
            }
            showLoading();
            try {
                const userInfo = await fetch(`/getstudentid?student_name=${encodeURIComponent(userName)}`);
                const userData = await userInfo.json();
                hideLoading();
                if (userData && userData.length === 1) {
                    populateStudent(userData[0]);
                } else if (userData && userData.length > 1) {
                    showResultsList(userData);
                } else {
                    alert(`${userName} is not registered`);
                }
            } catch (err) {
                hideLoading();
                console.error(err);
                alert('Error fetching student data.');
            }
        });

        // Update form submission
        async function updateForm(e) {
            e.preventDefault();
            let form = document.getElementById('formUpdate');
            let formData = new FormData(form);
            try {
                let result = await fetch('/update_junior_result', {
                    method: 'PATCH',
                    body: formData,
                });
                let responseText = await result.text();
                if (responseText) {
                    alert(`${responseText}`);
                    if (result.ok) {
                        form.reset();
                    }
                }
            } catch (err) {
                alert('Server error');
                console.log(err);
            }
        }
    </script>
    <script src="../junior_score.js"></script>
    <script src="Java Script/fetchResult.js"></script>
</body>
</html>