.table tr, .table td, .table th{
    border:solid 2px #2c056c;;;
    padding:5px;
}
table{
    border-collapse: collapse;
}

.table select{
    border: none;
    outline: none;
    background: #2c056c;;
    font-size: 16px;
    font-weight: bold;
    color:white;
}

.table th{
    background:#2c056c;;
    color:white;
}