*{
    padding:0px;
    margin: 0px;
}
.container{
    width: 700px;
    overflow:hidden;
    margin:0px auto;    
}
.title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header{
    width: 690px;
    text-align:center;
    font-weight: bold;
    margin:0px auto;
}
.header span{
    font-size: 30px;
    color:blue;

}
.title div{
   height:70px;
   width:70px;
   background:url("/IMAGE/blixx international.png");
   background-size: contain;
   margin-right:5px;
   background-repeat:no-repeat;
}
.studentId{
    display: flex;
    justify-content:space-between;
    width:650px;
    margin:0px auto;

}
.box{
    height:20px;
    width: 150px;
    border: solid 2px black;
    margin: 5px 0px;
}
.studentInfo{
    width:650px;
    display:flex;
    flex-direction:column;
    font-weight: bold;
    font-size: 18px;
    margin: 0px auto;
}
.studentInfo div{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: solid 2px black;
}
table{
    margin-top:15px;
    width:650px;
    border-collapse: collapse;
    margin:5px auto;
}
table th{
    color:red;
}
table th, table td{
   
    font-size:18px;
    width:18px;
    height:30px;
}
table, th, td{
    border: 2px solid blue;
}